.layout{
    background: #f7f9fb;
    border: 1px solid #ebecf0;
    padding: 12px;
    color: #212121;
    div{
        margin: 4px;
        background: white;
        border-radius: 3px;
        border: 1px solid #a5adba;
        padding: 6px 0;
        font-size: 12px;
        text-align: center;
    }
}