.close-icon{
  position: relative;
  right: -15px;
  top: 1px;
}

.clear-icon{
  display: inline-block;
  margin-top: 11px;
  margin-right: 10px;
}
.u-tabs-tab-active{
  color: #fff;
  cursor: pointer;
}