[submodule "tinper-bee/bee-button"]
	path = tinper-bee/bee-button
	url = http://github.com/tinper-bee/bee-button.git
[submodule "tinper-bee/bee-table"]
	path = tinper-bee/bee-table
	url = http://github.com/tinper-bee/bee-table.git
[submodule "tinper-bee/bee-tabs"]
	path = tinper-bee/bee-tabs
	url = http://github.com/tinper-bee/bee-tabs.git
[submodule "tinper-bee/bee-icon"]
	path = tinper-bee/bee-icon
	url = http://github.com/tinper-bee/bee-icon.git
[submodule "tinper-bee/bee-alert"]
	path = tinper-bee/bee-alert
	url = http://github.com/tinper-bee/bee-alert.git
[submodule "tinper-bee/bee-affix"]
	path = tinper-bee/bee-affix
	url = http://github.com/tinper-bee/bee-affix.git
[submodule "tinper-bee/bee-autocomplete"]
	path = tinper-bee/bee-autocomplete
	url = http://github.com/tinper-bee/bee-autocomplete.git
[submodule "tinper-bee/bee-backtop"]
	path = tinper-bee/bee-backtop
	url = http://github.com/tinper-bee/bee-backtop.git
[submodule "tinper-bee/bee-badge"]
	path = tinper-bee/bee-badge
	url = http://github.com/tinper-bee/bee-badge.git
[submodule "tinper-bee/bee-calendar"]
	path = tinper-bee/bee-calendar
	url = http://github.com/tinper-bee/bee-calendar.git
[submodule "tinper-bee/bee-clipboard"]
	path = tinper-bee/bee-clipboard
	url = http://github.com/tinper-bee/bee-clipboard.git
[submodule "tinper-bee/bee-datepicker"]
	path = tinper-bee/bee-datepicker
	url = http://github.com/tinper-bee/bee-datepicker.git
[submodule "tinper-bee/bee-dnd"]
	path = tinper-bee/bee-dnd
	url = http://github.com/tinper-bee/bee-dnd.git
[submodule "tinper-bee/bee-dropdown"]
	path = tinper-bee/bee-dropdown
	url = http://github.com/tinper-bee/bee-dropdown.git
[submodule "tinper-bee/bee-form"]
	path = tinper-bee/bee-form
	url = http://github.com/tinper-bee/bee-form.git
[submodule "tinper-bee/bee-form-control"]
	path = tinper-bee/bee-form-control
	url = http://github.com/tinper-bee/bee-form-control.git
[submodule "tinper-bee/bee-form-group"]
	path = tinper-bee/bee-form-group
	url = http://github.com/tinper-bee/bee-form-group.git
[submodule "tinper-bee/bee-input-number"]
	path = tinper-bee/bee-input-number
	url = http://github.com/tinper-bee/bee-input-number.git
[submodule "tinper-bee/bee-layout"]
	path = tinper-bee/bee-layout
	url = http://github.com/tinper-bee/bee-layout.git
[submodule "tinper-bee/bee-loading"]
	path = tinper-bee/bee-loading
	url = http://github.com/tinper-bee/bee-loading.git
[submodule "tinper-bee/bee-loading-state"]
	path = tinper-bee/bee-loading-state
	url = http://github.com/tinper-bee/bee-loading-state.git
[submodule "tinper-bee/bee-menus"]
	path = tinper-bee/bee-menus
	url = http://github.com/tinper-bee/bee-menus.git
[submodule "tinper-bee/bee-modal"]
	path = tinper-bee/bee-modal
	url = http://github.com/tinper-bee/bee-modal.git
[submodule "tinper-bee/bee-notification"]
	path = tinper-bee/bee-notification
	url = http://github.com/tinper-bee/bee-notification.git
[submodule "tinper-bee/bee-pagination"]
	path = tinper-bee/bee-pagination
	url = http://github.com/tinper-bee/bee-pagination.git
[submodule "tinper-bee/bee-popconfirm"]
	path = tinper-bee/bee-popconfirm
	url = http://github.com/tinper-bee/bee-popconfirm.git
[submodule "tinper-bee/bee-popover"]
	path = tinper-bee/bee-popover
	url = http://github.com/tinper-bee/bee-popover.git
[submodule "tinper-bee/bee-progress-bar"]
	path = tinper-bee/bee-progress-bar
	url = http://github.com/tinper-bee/bee-progress-bar.git
[submodule "tinper-bee/bee-radio"]
	path = tinper-bee/bee-radio
	url = http://github.com/tinper-bee/bee-radio.git
[submodule "tinper-bee/bee-select"]
	path = tinper-bee/bee-select
	url = http://github.com/tinper-bee/bee-select.git
[submodule "tinper-bee/bee-slider"]
	path = tinper-bee/bee-slider
	url = http://github.com/tinper-bee/bee-slider.git
[submodule "tinper-bee/bee-step"]
	path = tinper-bee/bee-step
	url = http://github.com/tinper-bee/bee-step.git
[submodule "tinper-bee/bee-timeline"]
	path = tinper-bee/bee-timeline
	url = http://github.com/tinper-bee/bee-timeline.git
[submodule "tinper-bee/bee-tooltip"]
	path = tinper-bee/bee-tooltip
	url = http://github.com/tinper-bee/bee-tooltip.git
[submodule "tinper-bee/bee-transfer"]
	path = tinper-bee/bee-transfer
	url = http://github.com/tinper-bee/bee-transfer.git
[submodule "tinper-bee/bee-tree"]
	path = tinper-bee/bee-tree
	url = http://github.com/tinper-bee/bee-tree.git
[submodule "tinper-bee/bee-upload"]
	path = tinper-bee/bee-upload
	url = http://github.com/tinper-bee/bee-upload.git
[submodule "tinper-bee/bee-collapse"]
	path = tinper-bee/bee-collapse
	url = http://github.com/tinper-bee/bee-collapse.git
[submodule "tinper-bee/bee-cascader"]
	path = tinper-bee/bee-cascader
	url = http://github.com/tinper-bee/bee-cascader.git
[submodule "tinper-bee/bee-tile"]
	path = tinper-bee/bee-tile
	url = http://github.com/tinper-bee/bee-tile.git
[submodule "tinper-bee/bee-button-group"]
	path = tinper-bee/bee-button-group
	url = http://github.com/tinper-bee/bee-button-group.git
[submodule "tinper-bee/bee-breadcrumb"]
	path = tinper-bee/bee-breadcrumb
	url = http://github.com/tinper-bee/bee-breadcrumb.git
[submodule "tinper-bee/bee-timepicker"]
	path = tinper-bee/bee-timepicker
	url = http://github.com/tinper-bee/bee-timepicker.git
[submodule "tinper-bee/bee-rate"]
	path = tinper-bee/bee-rate
	url = http://github.com/tinper-bee/bee-rate.git
[submodule "tinper-bee/bee-switch"]
	path = tinper-bee/bee-switch
	url = http://github.com/tinper-bee/bee-switch.git
[submodule "tinper-bee/bee-input-group"]
	path = tinper-bee/bee-input-group
	url = http://github.com/tinper-bee/bee-input-group.git
[submodule "tinper-bee/bee-label"]
	path = tinper-bee/bee-label
	url = http://github.com/tinper-bee/bee-label.git
[submodule "tinper-bee/bee-message"]
	path = tinper-bee/bee-message
	url = http://github.com/tinper-bee/bee-message.git
[submodule "tinper-bee/bee-checkbox"]
	path = tinper-bee/bee-checkbox
	url = http://github.com/tinper-bee/bee-checkbox.git
[submodule "tinper-bee/bee-navbar"]
	path = tinper-bee/bee-navbar
	url = http://github.com/tinper-bee/bee-navbar.git
[submodule "tinper-bee/bee-panel"]
	path = tinper-bee/bee-panel
	url = http://github.com/tinper-bee/bee-panel.git
[submodule "tinper-bee/bee-city-select"]
	path = tinper-bee/bee-city-select
	url = http://github.com/tinper-bee/bee-city-select.git
[submodule "tinper-bee/bee-locale"]
	path = tinper-bee/bee-locale
	url = http://github.com/tinper-bee/bee-locale.git
[submodule "tinper-bee/bee-page-layout"]
	path = tinper-bee/bee-page-layout
	url = http://github.com/tinper-bee/bee-page-layout.git
[submodule "tinper-bee/bee-carousel"]
	path = tinper-bee/bee-carousel
	url = https://github.com/tinper-bee/bee-carousel.git
[submodule "tinper-bee/bee-search-panel"]
	path = tinper-bee/bee-search-panel
	url = https://github.com/tinper-bee/bee-search-panel.git
[submodule "tinper-bee/bee-viewer"]
	path = tinper-bee/bee-viewer
	url = https://github.com/tinper-bee/bee-viewer.git
[submodule "tinper-bee/bee-complex-grid"]
	path = tinper-bee/bee-complex-grid
	url = https://github.com/tinper-bee/bee-complex-grid.git