[submodule "tinper-bee/bee-button"]
	path = tinper-bee/bee-button
	url = http://github.com/tinper-bee/bee-button.git
[submodule "tinper-bee/bee-table"]
	path = tinper-bee/bee-table
	url = https://github.com/tinper-bee/bee-table.git
