#demo5 {
  .logo-placeholder {
    height: 30px;
    margin-top: 15px;
    line-height: 30px;
  }
  .u-navbar {
    height: 55px;
    background: #fff;
    border-color: #e9e9e9;
  }
  .sider-menu {
    margin-top: -55px;
    z-index: 2;
    position: relative;
    width: 240px;
  }
  .logo-header {
    width: 240px;
    text-align: center;
    background: #E14C46;
    height: 55px;
    line-height: 55px;
  }
  .u-menu-sub {
    background: rgba(74,81,93,0.60);
    color: #FFFFFF;
  }
  .u-menu-sub .u-menu-submenu {
    color: #a6aab0;
  }
  .u-menu-sub .u-menu-item {
  }
  .u-menu-submenu-active,.u-menu-item-active {
    background: none;
    color: #fff;
  }
  .u-menu-inline .u-menu-selected, .u-menu-inline .u-menu-inline .u-menu-item-selected {
    color: #fff;
    opacity: 1;
    border: none;
  }
  .u-menu-submenu .u-menu-sub {
    background: none;
  }
  .u-menu-sub .u-menu-item-active {
    background: none;
    opacity: 1;
  }
  .inner-container {
    width: 100%;
    height: 100%;
    background: whitesmoke;
    padding-left: 30px;
    padding-top: 20px;
  }
  .inner-content {
    width: 100%;
    height: 100%;
    min-height: 400px;
    min-width: 400px;
    background: #fff;
  }
  .content {
    display: flex;
  }
  .u-menu-inline {
    margin-top: 0;
    border-top: 0;
    border-radius: 0;
  }
  .u-menu .u-menu-sub.u-menu-inline {
    padding-left: 12px;
  }
  .u-menu-inline > .u-menu-submenu > .u-menu-submenu-title {
    background: none;
  }
  .wrapper-menu {
    min-height: 400px;
    background: #5e6670;
    color: #fff;
  }
  .u-menu-inline > .u-menu-item{
    color: #a6aab0;
    cursor: pointer;
  }
  .u-menu-submenu-selected {
    background: none;
    color: #fff;
  }
  .icon-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    a{
      margin-left: 20px;
      img {
        margin-right: 10px;
        border-radius: 50%;
      }
    }
  }
  .u-breadcrumb {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    padding-left: 0;
  }
}