

#demo3{
  .logo-placeholder {
    background: #eee;
    color: #000;
  }
  .inner-container{
    border: 1px solid #d9d9d9;
    border-top: none;
    min-height: 400px;
  }
  .u-navbar {
    background: #fff;
    border-radius: 0;
  }
  .u-navbar-nav {
    min-width: 30%;
    display: flex;
    justify-content: space-around;
  }
  .u-navbar .u-navbar-brand {
    line-height: 40px;
  }
  .u-navbar .u-navbar-nav > li {
    line-height: 47px;
  }
  .u-navbar .u-navbar-nav > li.active {
    color: #e14c46;
    border-bottom: 2px solid;
  }
  .icon-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    a{
      margin-left: 20px;
      img {
        margin-right: 10px;
        border-radius: 50%;
      }
    }
  }
  .header-top {
    border-bottom: none;
    height: 36px;
    line-height: 36px;
    text-align: right;
    background: #e14c46;
    color: #fff;
    padding-right: 40px;
    a {
      color: #fff;
      opacity: 0.6;
      font-family: MicrosoftYaHei;
      font-size: 12px;
      letter-spacing: 0;
      line-height: 18px;

    }
    .part_1 {
      margin-right: 20px;
      margin-left: 10px;
    }
    .part_2 {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}