@import "../node_modules/tinper-bee-core/scss/index.scss";
@import "../src/Button.scss";
@import "../node_modules/bee-layout/src/Layout.scss";
@import "../node_modules/bee-panel/src/Panel.scss";
@import "../node_modules/bee-message/build/Message.css";
@import "../node_modules/bee-modal/build/Modal.css";



.demoPadding{
    button{
        margin: auto 5px;
    }
    .divider{
        margin: 6px 0;
        height: 1px;
        overflow: hidden;
        background-color: #fff;
    }
}
