@import "../node_modules/tinper-bee-core/scss/minxin-variables";
@import "../node_modules/tinper-bee-core/scss/minxin-mixins";

.u-time-picker {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  i.uf{
    position: absolute;
    right: 0;
    top: 4px;
    opacity: .2;
    cursor: pointer;
  }
  * {
    box-sizing: border-box;
  }
  .u-time-picker-input {
    width: 100%;
    position: relative;
    display: inline-block;
    padding: 4px 7px;
    height: 32px;
    cursor: text;
    font-size: $timepicker-font-size;
    line-height: 32;
    color: #666;
    background-color: #fff;
    background-image: none;
    border: 1px solid $border-color-base;
    border-radius: $select-border-radius;
    transition: border 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}


.u-time-picker-panel {
  z-index: 1070;
  width: 170px;
  position: absolute;
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
  .u-time-picker-panel-inner {
    display: inline-block;
    position: relative;
    outline: none;
    list-style: none;
    font-size: $timepicker-font-size;
    text-align: left;
    background-color: #fff;
    border-radius: $select-border-radius;
    box-shadow: 0 1px 5px $timepicker-border-gap-color;
    background-clip: padding-box;
    border: 1px solid $timepicker-border-gap-color;
    line-height: 1.5;
  }
  .u-time-picker-panel-input {
    margin: 0;
    padding: 0;
    width: 100%;
    cursor: auto;
    line-height: 1.5;
    outline: 0;
    border: 1px solid transparent;
    font-size: $timepicker-font-size;
  }
  .u-time-picker-panel-input-wrap {
    box-sizing: border-box;
    position: relative;
    padding: 6px;
    border-bottom: 1px solid $timepicker-border-gap-color;
  }
  .u-time-picker-panel-input-invalid {
    border-color: red;
  }
  .u-time-picker-panel-clear-btn {
    position: absolute;
    right: 6px;
    cursor: pointer;
    overflow: hidden;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    top: 6px;
    margin: 0;
  }
  .u-time-picker-panel-clear-btn:after {
    content: "x";
    font-size: $timepicker-font-size;
    color: #aaa;
    display: inline-block;
    line-height: 1;
    width: 20px;
    transition: color 0.3s ease;
  }
  .u-time-picker-panel-clear-btn:hover:after {
    color: #666;
  }
  .u-time-picker-panel-select {
    float: left;
    font-size: 12px;
    border: 1px solid $timepicker-border-gap-color;
    border-width: 0 1px;
    margin-left: -1px;
    box-sizing: border-box;
    width: 56px;
    overflow: hidden;
    position: relative;
  }
  .u-time-picker-panel-select-active {
    overflow-y: auto;
  }
  .u-time-picker-panel-select:first-child {
    border-left: 0;
    margin-left: 0;
  }
  .u-time-picker-panel-select:last-child {
    border-right: 0;
  }
  .u-time-picker-panel-select ul {
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 144px;
  }
  .u-time-picker-panel-select li {
    list-style: none;
    box-sizing: content-box;
    margin: 0;
    padding: 0 0 0 16px;
    width: 100%;
    height: 24px;
    line-height: 24px;
    text-align: left;
    cursor: pointer;
    font-size: $timepicker-font-size;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .u-time-picker-panel-select li:hover {
    background: unquote("rgb(#{$primary-color,0.1})");
  }
  li.u-time-picker-panel-select-option-selected {
    background: unquote("rgb(#{$primary-color,0.1})");
    color: $brand-primary;
  }
  li.u-time-picker-panel-select-option-disabled {
    color: #bfbfbf;
  }
  li.u-time-picker-panel-select-option-disabled:hover {
    background: transparent;
    cursor: not-allowed;
  }
}

