/* md */
.docs .doc-content h1,h2,h3,h4,h5,h6,blockquote {
    margin: 0;
    padding: 0;
}


body {
    font-family: PingFang-SC-Medium,Open Sans, Helvetica Neue, Arial, Hiragino Sans GB, Microsoft YaHei, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    line-height: 18px;
    color: #737373;
    background-color: white;
}
.docs .doc-content li{
    /* line-height: 30px; */
}
.docs .doc-content .table-container table {
    margin: 10px 0 15px 0;
    border-collapse: collapse;
}
.docs .doc-content .table-container td,.table-containe th {
    border: 1px solid #ddd;
    padding: 13px 10px;
}
.docs .doc-content .table-container {
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
    margin: 0 0 1em;
}
.docs .doc-content .table-container::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
}
.docs .doc-content .table-container::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid #fff;
  background-color: rgba(0, 0, 0, .3);
}
.docs .doc-content .table-container table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border:1px solid rgba(232,232,232,1);
    width: 100%;
    margin: 10px 0;
    font-size: 14px;
}
.docs .doc-content .table-container table th,.table-container table td {
    border: 1px solid  rgba(232,232,232,1);
    padding: 16px 16px;
    text-align: left;
}
.docs .doc-content .table-container table th {
    background: rgba(250,250,250,1);
    white-space: nowrap;
    color: rgba(0,0,0,0.85);
    font-weight: 500;
}
.docs .doc-content .table-container table td:first-child {
    background: #fcfcfc;
    font-weight: 500;
    width: 20%;
    font-family: PingFang-SC-Medium,"Lucida Console", Consolas, Menlo, Courier, monospace;
}
.docs .doc-content .table-container th {
    padding: 5px 10px;
}

.docs .doc-content a img {
    border: none;
}
.docs .doc-content p {
    /*margin-bottom: 9px;*/
    font-size: 14px;
    color:rgba(66,66,66,1);
    line-height: 30px;
}
.docs .doc-content h1,h2,h3,h4,h5,h6 {
    color: rgba(66,66,66,1);
    margin:40px 0 15px;
}
.docs .doc-content h1 {
    font-size: 30px;
    font-weight: normal;
    line-height: 42px;
}
.docs .doc-content h2 {
    font-size:24px;
    font-weight:500;
    line-height:33px;
}
.docs .doc-content h3 {
    margin: 10px 0 20px;
    font-weight: bold;
    font-size: 18px;
}
.docs .doc-content h4 {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}
.docs .doc-content h5 {
    font-size: 14px;
}
.docs .doc-content h6 {
    font-size: 13px;
}
.docs .doc-content hr {
    margin: 0 0 19px;
    border: 0;
    border-bottom: 1px solid #ccc;
}
.docs .doc-content blockquote {
    padding: 0;
    font-family:georgia,serif;
    font-style: italic;
}
.docs .doc-content blockquote p {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 0;
    font-style: italic;
}
.docs .doc-content code, pre {
    font-family: PingFang-SC-Medium, Monaco, Andale Mono, Courier New, monospace;
}
.docs .doc-content code {
    background-color: rgba(250,250,250,1);
    color: rgba(49,70,89,1);
    padding: 1px 3px;
    font-size: 13px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.docs .doc-content pre {
    display: block;
    margin: 1em 0px;
    line-height: 16px;
    font-size: 11px;
    font-family: monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.docs .doc-content pre code {
    display: block;
    overflow-x: auto;
    padding: 8px 20px;
    color:#666666;
    background:rgba(250,250,250,1);
    font-family: Menlo,Monaco,Consolas,Courier,monospace;
    font-size:13px;
    font-weight:500; 
    line-height:22px;
    margin:0;
    border-radius: 4px;
    -webkit-font-smoothing: auto;
}
.docs .doc-content sup {
    font-size: 0.83em;
    vertical-align: super;
    line-height: 0;
}
* {
    -webkit-print-color-adjust: exact;
}

@media print {
    body,code,pre code,h1,h2,h3,h4,h5,h6 {
        color: black;
    }
    table, pre {
        page-break-inside: avoid;
    }
}
.docs .doc-content img{
    max-height: 500px;
}

.docs .doc-content .title-right{
    display: inline-block;
    float: right;
}
.docs .doc-content .title-right .title-tag {
    height: 24px;
    border: 1px solid #8D99AE;
    font-size: 14px;
    width: 80px;
    line-height: 24px;
    position: relative;
    display: inline-block;
    color: #314659;
    margin-right: 17px;
    top: 1px;
}
.docs .doc-content .title-right .title-tag .uf{
    font-size: 12px;
}
.docs .doc-content .title-right .title-tag>span{
    position: absolute;
    top:-0.8px;
    left: 32px;
    bottom: 0px;
}
.docs .doc-content .title-right .title-tag .uf:before{
    position: absolute;
    left: 14px;
    bottom: -1px;
}
/* 版本下拉 */
.docs .doc-content .title-right #tagSelect{
    width: 80px;
    display: inline-block;
    height: 24px;
    position: relative;
    top: 3px;
}
.docs .doc-content .title-right #tagSelect .u-select-selection{
    height: 24px;
    border: 1px solid #8D99AE;
    border-radius: 0;
    padding-left: 5px;
}
.docs .doc-content .title-right #tagSelect .u-select-selection .u-select-arrow::before{
    font-size: 16px;
    position: relative;
    top: -2px;
    color: #8D99AE;
}
.docs .doc-content .title-right #tagSelect .u-select-selection-rendered{
    line-height: 24px;
}
.docs .doc-content .title-right #tagSelect .u-select-selection-rendered .u-select-selection-selected-value{
    line-height: 24px;
}
#tagList.select-list .u-select-dropdown{
    top: 0;
    left: 0;
    left: auto;
    right: 0;
    width: 80px!important;
    border: 1px solid #f0f0f0;
}
#tagList.select-list{
    display: none;
    position: relative;
}
#tagList.select-list.open{
    display: block;
}

#tagList.select-list .u-select-dropdown .u-select-dropdown-menu-item{
    padding: 0;
    line-height: 32px;
    text-align: center;
}
#tagList.select-list .u-select-dropdown .u-select-dropdown-menu-item:hover{
    color: #E14C46;
}
select::-ms-expand { 
    display: none; 
}
.docs .doc-content a.pencil{
    color: #8D99AE;
}


.docs .doc-content{
    margin-right: 200px;
}

/* 右侧导航菜单 */
.docs .right-menus{
    position: fixed;
    top: 95px;
    right: 20px;
    width: 200px;
    overflow: auto;
    height: calc(100% - 95px);
}

/* 更新日志 */
.docs .doc-content .changelog .u-timeline-item-head-danger {
    color: #E14C46;
    border-color: #E14C46;
    background: #E14C46;
    height: 9px;
    width: 9px;
}
.docs .doc-content .changelog .u-timeline-item{
    padding: 0
}
.docs .doc-content .changelog .u-timeline-item:last-of-type .u-timeline-item-tail{
    display: none;
}
.docs .doc-content .changelog{
    margin-top: 40px;
}
.docs .doc-content .changelog .u-timeline-item-tail {
    border-left: 1px solid #DFDFDF;
    left: 4px;
}
.docs .doc-content .changelog .u-timeline-item-content {
    padding-bottom: 0;
    position: relative;
    top: -12px;
}
.docs .doc-content .changelog .u-timeline-item-content .time{
    font-size: 14px;
    background: #FAFAFA;
    height: 24p;
    line-height: 24px;
    display: inline-block;
    padding: 0 8px;
}
.docs .changelog p, .docs .changelog pre{
    margin: 0;
}
.docs .changelog .u-timeline-item-content>pre{
    font-size: 14px;
    padding-left: 15px;
}
.docs .changelog .u-timeline-item-content>p{
    font-size: 20px;
}
.docs .changelog .u-timeline-item-content a{
    color: #E14C46;
    font-size: 14px;
}
.docs .changelog .u-timeline-item-content>pre ul{
    list-style: circle;
    white-space: normal;
}
.docs .changelog .u-timeline-item-content>pre li{
    line-height: 30px;
    font-size: 14px;
    white-space: normal;
    font-family: PingFang-SC-Medium;
    color: #424242;
}
.docs .changelog .u-timeline-item-content>pre>ul>li>ul{
    padding-left: 15px;
}

.docs .doc-content .changelog .u-timeline-item-content>pre>p{
    display: none
}

/* 企业级ui交互能力 */
.docs .doc-content .interact img{
    max-width: 100%;
}

/* changelog */
.docs .changelogs .changelog .u-timeline-item-content>pre>p{
    display: none;
}
.docs .changelogs .changelog pre{
    line-height: unset;
}

.docs .changelogs .changelog{
    margin-top: 40px;
}

.docs .whoused ul{
    list-style: circle;
}
.docs .whoused a{
    color: #E14C46;
}


@media (max-width: 768px) {
    .docs .doc-content{
        margin-right:0;
    }
}