/* md */
.docs h1,h2,h3,h4,h5,h6,blockquote {
    margin: 0;
    padding: 0;
}
.docs a.summarize{
    color: #5e6d82;
}
.docs a.summarize::before{
    width:10px;
    height:10px;
    border-radius:50%;
    border:1px solid blue;
} 
body {
    font-family: PingFang-SC-Medium,Open Sans, Helvetica Neue, Arial, Hiragino Sans GB, Microsoft YaHei, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    line-height: 18px;
    color: #737373;
    background-color: white;
}
.docs .table-container table {
    margin: 10px 0 15px 0;
    border-collapse: collapse;
}
.docs .table-container td,.table-containe th {
    border: 1px solid #ddd;
    padding: 13px 10px;
}
.docs .table-container {
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
    margin: 0 0 1em;
}
.docs .table-container::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
}
.docs .table-container::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid #fff;
  background-color: rgba(0, 0, 0, .3);
}
.docs .table-container table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border:1px solid rgba(232,232,232,1);
    width: 100%;
    margin: 10px 0;
    font-size: 14px;
}
.docs .table-container table th,.table-container table td {
    border: 1px solid  rgba(232,232,232,1);
    padding: 16px 16px;
    text-align: left;
}
.docs table th {
    background: rgba(250,250,250,1);
    white-space: nowrap;
    color: rgba(0,0,0,0.85);
    font-weight: 500;
}
.docs .table-container table td:first-child {
    background: #fcfcfc;
    font-weight: 500;
    width: 20%;
    font-family: PingFang-SC-Medium,"Lucida Console", Consolas, Menlo, Courier, monospace;
}
.docs th {
    padding: 5px 10px;
}

.docs a img {
    border: none;
}
.docs p {
    /*margin-bottom: 9px;*/
    font-size: 14px;
    color:rgba(66,66,66,1);
    line-height: 30px;
}
.docs h1,h2,h3,h4,h5,h6 {
    color: rgba(66,66,66,1);
    margin:40px 0 15px;
}
.docs h1 {
    font-size: 30px;
    font-weight: 500;
    line-height: 42px;
}
.docs h2 {
    font-size:24px;
    font-weight:500;
    line-height:33px;
}
.docs h3 {
    margin: 55px 0 20px;
    font-weight: 500;
    font-size: 22px;
}
.docs h4 {
    font-size: 16px;
    font-weight: 700;
}
.docs h5 {
    font-size: 14px;
}
.docs h6 {
    font-size: 13px;
}
.docs hr {
    margin: 0 0 19px;
    border: 0;
    border-bottom: 1px solid #ccc;
}
.docs blockquote {
    padding: 0;
    font-family:georgia,serif;
    font-style: italic;
}
.docs blockquote p {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 0;
    font-style: italic;
}
.docs code, pre {
    font-family: PingFang-SC-Medium, Monaco, Andale Mono, Courier New, monospace;
}
.docs code {
    background-color: rgba(250,250,250,1);
    color: rgba(49,70,89,1);
    padding: 1px 3px;
    font-size: 13px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.docs pre {
    display: block;
    margin: 1em 0px;
    line-height: 16px;
    font-size: 11px;
    font-family: monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.docs pre code {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    /* color: #abb2bf; */
    /* background: #282c34; */
    color:rgba(49,70,89,1);
    background:rgba(250,250,250,1);
    font-family: Menlo,Monaco,Consolas,Courier,monospace;
    /* margin-bottom: 25px; */
    font-size:13px;
    font-weight:500; 
    line-height:22px;
    margin:10px 20px 20px 20px;
    border-radius: 4px;
    -webkit-font-smoothing: auto;
}
.docs sup {
    font-size: 0.83em;
    vertical-align: super;
    line-height: 0;
}
* {
    -webkit-print-color-adjust: exact;
}

@media print {
    body,code,pre code,h1,h2,h3,h4,h5,h6 {
        color: black;
    }
    table, pre {
        page-break-inside: avoid;
    }
}
.docs img{
    max-height: 500px;
}

.docs .title-right{
    display: inline-block;
    float: right;
}
.docs .title-right .title-tag{
    height: 24px;
    border: 1px solid #8D99AE;
    font-size: 14px;
    width: 80px;
    line-height: 24px;
    position: relative;
    display: inline-block;
    color: #314659;
}
.docs .title-right .title-tag>span{
    position: absolute;
    left: 32px;
    bottom: 0px;
}
.docs .title-right .title-tag .uf:before{
    position: absolute;
    left: 14px;
    bottom: -1px;
}
.docs .title-right .tag-select{
    height: 24px;
    border: 1px solid #8D99AE;
    font-size: 14px;
    border-radius: 0;
    margin-left: 15px;
    width: 80px;
    line-height: 24px;
    background: #fff;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    position: relative;
    top: -1px;
    padding-left: 20px;
    cursor: pointer;
}
select::-ms-expand { 
    display: none; 
}
.docs a.pencil{
    color: #8D99AE;
}