/* md */
.docs h1,h2,h3,h4,h5,h6,blockquote {
    margin: 0;
    padding: 0;
}
.docs a.summarize{
    color: #5e6d82;
}
body {
    font-family: Open Sans, Helvetica Neue, Arial, Hiragino Sans GB, Microsoft YaHei, sans-serif;
    /* font-weight: 400; */
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    line-height: 18px;
    color: #737373;
    background-color: white;
}
.docs .table-container table {
    margin: 10px 0 15px 0;
    border-collapse: collapse;
}
.docs .table-container td,.table-containe th {
    border: 1px solid #ddd;
    padding: 13px 10px;
}
.docs .table-container {
    width: 100%;
    overflow-y: auto;
    _overflow: auto;
    margin: 0 0 1em;
}
.docs .table-container::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
}
.docs .table-container::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid #fff;
  background-color: rgba(0, 0, 0, .3);
}
.docs .table-container table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #e9e9e9;
    width: 100%;
    margin: 16px 0;
    font-size: 13px;
}
.docs .table-container table th,.table-container table td {
    border: 1px solid #e9e9e9;
    padding: 14px 16px;
    text-align: left;
}
.docs table th {
    background: #F7F7F7;
    white-space: nowrap;
    color: #5C6B77;
    font-weight: 600;
}
.docs .table-container table td:first-child {
    background: #fcfcfc;
    font-weight: 500;
    width: 20%;
    font-family: "Lucida Console", Consolas, Menlo, Courier, monospace;
}
.docs th {
    padding: 5px 10px;
}

.docs a img {
    border: none;
}
.docs p {
    /*margin-bottom: 9px;*/
    font-size: 14px;
    color: #5e6d82;
    line-height: 1.5em;
}
.docs h1,h2,h3,h4,h5,h6 {
    color: #1f2f3d;
    line-height: 150%;
    margin:35px 0 15px;
    font-weight: 400;
}
.docs h1 {
    margin-bottom: 18px;
    font-size: 30px;
}
.docs h2 {
    font-size: 28px;
}
.docs h3 {
    margin: 55px 0 20px;
    font-size: 22px;
}
.docs h4 {
    font-size: 16px;
    font-weight: 700;
}
.docs h5 {
    font-size: 14px;
}
.docs h6 {
    font-size: 13px;
}
.docs hr {
    margin: 0 0 19px;
    border: 0;
    border-bottom: 1px solid #ccc;
}
.docs blockquote {
    padding: 13px 13px 21px 15px;
    margin-bottom: 18px;
    font-family:georgia,serif;
    font-style: italic;
}
.docs blockquote:before {
    content:"\201C";
    font-size:40px;
    margin-left:-10px;
    font-family:georgia,serif;
    color:#eee;
}
.docs blockquote p {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 0;
    font-style: italic;
}
.docs code, pre {
    font-family: Monaco, Andale Mono, Courier New, monospace;
}
.docs code {
    background-color: #FAFAFA;
    color: rgba(0, 0, 0, 0.75);
    padding: 1px 3px;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.docs pre {
    display: block;
    margin: 1em 0px;
    line-height: 16px;
    font-size: 11px;
    font-family: monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.docs pre code {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #abb2bf;
    background: #282c34;
    font-family: Menlo,Monaco,Consolas,Courier,monospace;
    margin-bottom: 25px;
    border-radius: 4px;
    -webkit-font-smoothing: auto;
}
.docs sup {
    font-size: 0.83em;
    vertical-align: super;
    line-height: 0;
}
* {
    -webkit-print-color-adjust: exact;
}

@media print {
    body,code,pre code,h1,h2,h3,h4,h5,h6 {
        color: black;
    }
    table, pre {
        page-break-inside: avoid;
    }
}
.docs img{
    max-height: 500px;
}

.docs .title-right{
    display: inline-block;
    float: right;
}
.docs .title-right .title-tag{
    height: 24px;
    border: 1px solid #8D99AE;
    font-size: 14px;
    width: 80px;
    line-height: 24px;
    position: relative;
    display: inline-block;
    color: #314659;
}
.docs .title-right .title-tag>span{
    position: absolute;
    left: 28px;
    bottom: 0px;
}
.docs .title-right .title-tag .uf:before{
    position: absolute;
    left: 2px;
    bottom: -1px;
}
.docs .title-right .tag-select{
    height: 24px;
    border: 1px solid #8D99AE;
    font-size: 14px;
    border-radius: 0;
    margin-left: 15px;
    width: 80px;
    line-height: 24px;
    background: #fff;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    position: relative;
    top: -1px;
    padding-left: 20px;
    cursor: pointer;
}
select::-ms-expand { 
    display: none; 
}