
.footer {
    min-height: 500px;
    background: #424242;
    color: #fff;
    padding-left: 9%;
    padding-right: 9%;
    padding-top: 50px
}

.footer .footer-top {
    min-height: 400px
}

.footer .footer-top-item {
    min-height: 235px;
    line-height: 30px
}

.footer .footer-top-item p {
    margin-top: 0;
    font: 16px
}

.footer .footer-top-item a {
    color: #fff
}

.footer .footer-top-item a:hover {
    color: #e14c46
}

.footer .footer-top-item img {
    width: 15px;
    height: 15px
}

.footer .footer-middle .footer-line {
    height: 1px;
    background: #666;
    margin-left: -11%;
    margin-right: -11%;
}

.footer .footer-base {
    display: table;
    height: 80px
}

.footer .footer-base .footer-base-font {
    display: table-cell;
    font-size: 14px;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    line-height: 1
}

.footer .footer-base .footer-base-font p {
    margin-top: 8px;
    margin-bottom: 7px
}

/* 适配 */
.footer p{
    color: #fff;
}