.navbar {
    background: #808080
}

.content {
    width: 100%;
}

.sidebar {
    width: 250px;
    display: inline-block;
    vertical-align: top;
    padding-left: 40px;
    position: fixed;
    overflow: auto;
    height: calc(100% - 65px);
    top: 65px;
    padding-top: 30px;
    padding-bottom: 100px;
    border-right: 1px solid #dfdfdf;
    background: #fff;
}

.docs {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 300px);
    padding-left: 40px;
    margin-left: 250px;
    margin-top: 20px;
}

.footer-out {
    width: calc(100% - 300px);
    margin-left: 249px;
    margin-top: 60px;
}
.u-row{
    margin: 0!important;
}