/**, :after, :before {*/
    /*box-sizing:inherit;*/
/*}*/

.page-container {
    padding-top:60px;
}
.sidebar{
    height: 100%;
    transition: padding-top .3s;
    overflow: hidden;
    border-right: 1px solid #eee;
    padding-left:60px;
}
.sidebar:hover{
    overflow-y: scroll;
    cursor: pointer;
}
.sidebar a {
    transition:all .3s;
    text-decoration:none;
    color:#444;
    font-size: 14px;
    line-height:25px;
    cursor: pointer;
}
.sidebar a:hover,.sidebar a.selected {
    color:#409eff;
}
.sidebar .selected a {
    color:#409eff;
}
/*滚动条*/
.sidebar::-webkit-scrollbar {
    width: 6px;
    height: 1px;
}
.sidebar::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: hsla(220,4%,58%,.5);
}
.demo-container{
    padding-bottom: 100px;
}
.demo-container a{
    color: #5e6d82;
}
.demo-block {
    border-radius: 4px;
    transition: .2s;
}
.demo-block:after {
    display:block;
    clear:both;
    content:"";
    visibility:hidden;
    height:0;
}
@media (max-width: 767px) {
    .nav-list .dropdown .nav-par+ul {
        /*position: fixed;*/
        z-index: 100;
    }
    .nav-list .dropdown {
        position: static;
    }
}

.nav-list .dropdown:hover .nav-par+ul {
    display: block;
    margin: 0;
    padding: 10px 0px;
}

.nav-list .dropdown:hover .nav-par+ul li {
    margin: 2px 0;
    padding: 6px 13px;
    word-break: keep-all;
}

.nav-list .dropdown:hover .nav-par+ul li:hover {
    background-color: #eeeeee;
    color: rgb(97, 97, 97);
}


/* md */
h1,h2,h3,h4,h5,h6,blockquote {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei,SimSun",sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    line-height: 18px;
    color: #737373;
    background-color: white;
}
.table-container table {
    margin: 10px 0 15px 0;
    border-collapse: collapse;
}
.table-container td,.table-containe th {
    border: 1px solid #ddd;
    padding: 3px 10px;
}
th {
    padding: 5px 10px;
}

/*a {*/
    /*color: #0069d6;*/
/*}*/
/*a:hover {*/
    /*color: #0050a3;*/
    /*text-decoration: none;*/
/*}*/
a img {
    border: none;
}
p {
    /*margin-bottom: 9px;*/
    font-size: 14px;
    color: #5e6d82;
    line-height: 1.5em;
}
h1,h2,h3,h4,h5,h6 {
    color: #1f2f3d;
    line-height: 150%;
    margin:35px 0 15px;
    font-weight: 400;
}
h1 {
    margin-bottom: 18px;
    font-size: 30px;
}
h2 {
    font-size: 28px;
}
h3 {
    margin: 55px 0 20px;
    font-size: 22px;
}
h4 {
    font-size: 16px;
    font-weight: 700;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
hr {
    margin: 0 0 19px;
    border: 0;
    border-bottom: 1px solid #ccc;
}
blockquote {
    padding: 13px 13px 21px 15px;
    margin-bottom: 18px;
    font-family:georgia,serif;
    font-style: italic;
}
blockquote:before {
    content:"\201C";
    font-size:40px;
    margin-left:-10px;
    font-family:georgia,serif;
    color:#eee;
}
blockquote p {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 0;
    font-style: italic;
}
code, pre {
    font-family: Monaco, Andale Mono, Courier New, monospace;
}
code {
    background-color: #fee9cc;
    color: rgba(0, 0, 0, 0.75);
    padding: 1px 3px;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
pre {
    display: block;
    /*padding: 14px;*/
    /* margin: 0 0 18px; */
    margin: 1em 0px;
    line-height: 16px;
    font-size: 11px;
    font-family: monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
}
pre code {
    background-color: #fff;
    color:#737373;
    font-size: 11px;
    padding: 0;
}
sup {
    font-size: 0.83em;
    vertical-align: super;
    line-height: 0;
}
* {
    -webkit-print-color-adjust: exact;
}

@media print {
    body,code,pre code,h1,h2,h3,h4,h5,h6 {
        color: black;
    }
    table, pre {
        page-break-inside: avoid;
    }
}
.menu-item {
    font-size: 12px;
    line-height: 34px;
    height: 34px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
}
.menu-item a {
    font-size:14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}
.menu-item a span {
    font-size: 12px;
    margin-left: 3px;
    font-weight: normal;
    opacity: .67;
}
.menu-item label span {
    font-size:12px;
}
.menu-item .icon {
    color:#5e6d82;
    cursor: pointer;
}
.menu-item a:hover .icon {
    color:#20a0ff;
}
.menu-item .new::before{
    content: "  ";
    display: block;
    position: absolute;
    background: url(../img/new.gif) no-repeat;
    background-size: 100%;
    width: 20px;
    height: 10px;
    top: -7px;
}
.menu-component li {
    color: #999;
    font-size: 12px;
    line-height: 1.5;
    /* padding: 8px 16px; */
    list-style: none;
}
.menu-component li:first-child .menu-item {
    padding:0;
}
.menu-group .menu-group-title{
    color: rgba(0, 0, 0, 0.45);
    font-size: 12px;
    line-height: 26px;
    margin-top: 22px;
}
.menu-group:first-child>.menu-group-title{
    display: none;
}
#tinperBeeDemo .u-col-md-offset-1 {
    margin:0;
}
#tinperBeeDemo .u-col-md-12>.u-panel>.u-panel-heading{
    padding: 0;
}
#tinperBeeDemo .u-col-md-12>.u-panel>.u-panel-heading>.u-panel-title>:first-child{
    margin: 10px 15px;
}
#tinperBeeDemo .u-button-block{
    color: #5e6d82;
    background-color: #f9fafc;
    border-top: 1px solid #ebebeb;
    height: 44px;
}
#tinperBeeDemo .u-col-md-12>.u-panel>.u-panel-collapse>.u-panel-body{
    padding-top: 0;
}
#tinperBeeDemo .u-panel .u-panel-body pre{
    margin: 0;
}
#tinperBeeDemo .u-button-block:hover{
    color: #409eff;
    background-color: #f9fafc;
}
#tinperBeeDemo .u-col-md-12>.u-panel>.u-panel-collapse{
    background-color: #f9fafc;
}

.table-container table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #e9e9e9;
    width: 100%;
    margin: 16px 0;
    font-size: 13px;
}
.table-container table th,.table-container table td {
    border: 1px solid #e9e9e9;
    padding: 8px 16px;
    text-align: left;
}
table th {
    background: #F7F7F7;
    white-space: nowrap;
    color: #5C6B77;
    font-weight: 600;
}
.table-container table td:first-child {
    background: #fcfcfc;
    font-weight: 500;
    width: 20%;
    font-family: "Lucida Console", Consolas, Menlo, Courier, monospace;
}
#tinperBeeDemo .u-panel {
    border: 1px solid #ebebeb;
    border-radius: 6px;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0 0 16px 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    box-shadow: none;
}
#tinperBeeDemo .u-panel:hover {
    border: 1px solid #eee;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15);
    border-color: transparent;
    position: relative;
    z-index: 10;
    background: #fff;
}
.menu-component {
    margin:0;
    padding: 27px 0 30px;
}


@media screen and (max-width: 768px) {
    /*!*iPhone < 5 Portrait*!*/
    .demo-web-navbar .u-navbar-header {
        float:left;
    }
    .demo-web-navbar .u-navbar-brand  img{
        width:80%;
    }
    .demo-web-navbar .u-navbar-toolbar {
        display:inline-block;
        float:right;
    }
    .demo-web-navbar .u-navbar-toolbar li {
        display:inline-block;
        float:left;
    }
    .demo-web-navbar .u-navbar-toolbar a {
        font-size:12px;
    }

    /* 小屏幕表格滚动 start */

    .table-container {
        width: 100%;
        overflow-y: auto;
        _overflow: auto;
        margin: 0 0 1em;
    }
    table{border:0; border-collapse:collapse;}
    table td,table th{border:1px solid #999; padding:.5em 1em}

    .table-container::-webkit-scrollbar {
          -webkit-appearance: none;
          width: 14px;
          height: 14px;
    }
    .table-container::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 3px solid #fff;
        background-color: rgba(0, 0, 0, .3);
    }

    /* 小屏幕表格滚动 end */
}
#tinperBeeDemo .u-col-md-12>.u-panel-bordered>.u-panel-heading {
    border-bottom:none;
}
@media screen and (max-width: 768px) {
    .demo-web-navbar.u-navbar .u-navbar-nav > li {
        padding: 15px 10px;
    }
}
.demo-web-navbar.u-navbar .u-navbar-brand {
    padding:10px 0;
    height:inherit;
}

.tinper-version{
    display: inline-block;
    margin-top: 24px;
    margin-left: 20px;
    color: #42bf23;
}
.title-tag{
    color: #666;
    background-color: #f5f5f5;
    border-radius: 3px;
    font-size: 15px;
    padding: 3px 8px 5px 3px;
}
.title-tag+.title-tag{
    margin-left: 10px;
}
.title-tag:hover{
    background: #dcdcdc;
    color: #fff;
}
.title-tag>i{
    font-size: inherit;
}