.nav {
    position: fixed;
    z-index: 999;
    background: #fff;
    width: 100%;
    height: 65px;
    line-height: 65px;
    border-bottom: 1px solid #dfdfdf;
    margin: 0!important;
}

.nav .nav-left .nav-logo {
    display: inline-block
}

.nav .nav-left .nav-logo i {
    padding: 0;
    height: 0;
    display: inline-block
}

.nav .nav-left .nav-logo .uf-iuapdesign-col:before {
    font-size: 100px;
    display: inline-block
}

.nav .nav-left .nav-split {
    color: #ccc;
    margin: 0 16px
}

.nav .nav-left .nav-search {
    color: #959aa5;
    position: relative;
    top: -5px;
}

.nav .nav-left .nav-search #componentSearch {
    vertical-align: unset !important
}

.nav .nav-left .nav-search .u-form-control-affix-wrapper {
    width: auto
}

.nav .nav-left .nav-search .u-form-control-affix-wrapper .u-form-control {
    width: auto;
    border: none;
    padding-left: 30px;
    font-weight: 500;
}

.nav .nav-left .nav-search .u-form-control-affix-wrapper .u-form-control-suffix {
    right: auto;
    left: 0
}

.nav .nav-right .nav-options {
    float: right
}

.nav .nav-right .nav-options .first-show {
    color: #e14c46
}

.nav .nav-right .nav-options li {
    float: left;
    margin-right: 38px
}

.nav .nav-right .nav-options li .u-select {
    min-width: 100px;
    font-size: 14px;
    color: #444
}

.nav .nav-right .nav-options li .u-select .u-select-arrow {
    margin-top: -8px;
    font-size: 14px
}

.nav .nav-right .nav-options li .u-select .u-select-selection {
    border: none
}

.nav .nav-right .nav-options li a {
    color: #444
}

.nav .nav-right .nav-options li a:hover {
    color: #e14c46
}

.nav-lang-select .u-select-dropdown-menu-item-active,
.nav-lang-select .u-select-dropdown-menu-item-selected,
.nav-lang-select .u-select-dropdown-menu-item-selected:hover {
    color: #e14c46 !important;
    background: #fff !important;
    font-weight: 0 !important
}
.nav .nav-right .lang-select{
    position: relative;
    left: 6px;
}
.nav .nav-right .nav-lang-select{
    border: none;
    background: #fff;
    min-width: 85px;
    font-size: 14px;
    color: #444;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    height: 64px;
}
.nav .nav-right .uf-arrow-down{
    position: absolute;
    right: 15px;
    line-height: 1;
    top: 27px;
    font-size: 10.5px;
}


.nav .nav-left .nav-search  .uf-search:before {
    position: absolute;
    top: 15px;
}
.algolia-autocomplete {
    line-height: normal
}

.aa-dropdown-menu {
    width: 100%;
    border-color: #999;
    font-size: .9rem
}

@media (min-width:768px) {
    .aa-dropdown-menu {
        min-width: 515px
    }
}

.algolia-docsearch-suggestion {
    border-color: #ddd
}

.algolia-docsearch-suggestion--content {
    color: #2c3e50
}

.algolia-docsearch-suggestion--subcategory-column {
    border-color: #ddd
}

.algolia-docsearch-suggestion--category-header {
    background: #fff
}

.algolia-docsearch-footer {
    border-color: #ddd
}

.algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--highlight {
    background: hsla(0, 0%, 100%, .6)
}

.algolia-docsearch-suggestion--highlight {
    color: #2c815b
}

.aa-cursor .algolia-docsearch-suggestion--content {
    color: #2c3e50
}