.sidebar .menu-components .menu-group {
    list-style: none
}

.sidebar .menu-components .menu-group .menu-item {
    line-height: 40px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.sidebar .menu-components .menu-group .menu-item.active{
    background: #FDF6F6;
    border-right: 1px solid #E14C46;
}
.sidebar .menu-components .menu-group .menu-item a{
    color: #424242;
    text-decoration: none;
    padding-left: 10px;
}
.sidebar .menu-components .menu-group .menu-item a:hover{
    color: #e14c46;
}
.sidebar .menu-components .menu-group .menu-item.active a{
    color: #e14c46;
}

.sidebar .menu-components .menu-item-components{
    position: relative;
    padding-left: 10px;
    color: #424242;
    cursor: pointer;
}
.sidebar .menu-components .menu-item-components .menu-item-components-text{
    width: 100%;
    display: block;
}
.sidebar .menu-components .menu-item-components .menu-item-components-text:before{
    position: absolute;
    right: 0;
    font-family: "uf" !important;
    box-sizing: border-box;
    content: "\e608";
}
.sidebar .menu-components .menu-item-components.open .menu-item-components-text:before{
    content: "\e636";
}
.sidebar .menu-components .menu-item-components .menu-item-heard{
    display: none;
    color: #959AA5;
}
.sidebar .menu-components .menu-item-components.open .menu-item-heard{
    display: block;
}
.sidebar .menu-components .menu-item-com,.sidebar .menu-components .menu-item-heard{
    font-size: 13px;
}
.sidebar .menu-components .menu-item-heard{
    user-select: none;
    padding-left: 10px;
}
.sidebar .menu-components .menu-item-heard .menu-item-com{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sidebar .menu-components .menu-item-heard .menu-item-com.active{
    background: #FDF6F6;
    border-right: 1px solid #E14C46;
}