body{
    height: 3000px;
}
  .content {
      width: 60%;
      background-image: linear-gradient(-180deg, #6873E8 0%, #277DF4 100%);
      font-size: 20px;
      color: #fff;
      text-align: center;
      /* line-height: 100px; */
    }
    .u-panel-title{
      height: 800px;
    }
    .button{
      height: 60px;
      width: 200px;
      background: pink;
      color:#fff;
      border-radius: 3px;
    }
    h1{
      margin:0;
      padding:0;
    }
   