@import "../node_modules/tinper-bee-core/scss/minxin-variables";
@import "../node_modules/tinper-bee-core/scss/minxin-mixins";
@import "../node_modules/bee-icon/src/Icon.scss";
$modal-header-padding:16px;
$modal-body-padding : 16px;
$modal-footer-padding : 16px;
.u-modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  overflow: hidden;
  &-draggable{
    .u-modal-header.dnd-handle:hover{
      cursor: all-scroll;
    }
  }
  &-centered {
    text-align: center;
    &::before {
      display: inline-block;
      width: 0;
      height: 100%;
      vertical-align: middle;
      content: '';
    }
    .u-modal-dialog {
      top: 0;
      display: inline-block;
      text-align: left;
      vertical-align: middle;
    }
  }
  &-centered.draging{
    text-align: unset;
    &::before{
      display: none;
    }
  }
  &-centered.draged{
    text-align: unset;
    &::before{
      display: none;
    }
  }
  &.fade {
    opacity: 0;
    transition: opacity 0.15s linear;
  }
  &.fade.in {
    opacity: 1;
  }

  &.fade .u-modal-dialog {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
  }
  &.in .u-modal-dialog {
    -webkit-transform: translate(0);
    transform: translate(0);
    &.u-modal-draging,&.u-modal-draged{
      margin: 0;
    }
  }

  .u-modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid  Rgba(9, 30, 68, 0.08);
    border-radius: $border-radius-base;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    background-clip: padding-box;
    outline: 0;
    display: flex;
    flex-direction: column;
  }

  .u-modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
  }
  .u-modal-header {
    padding: $modal-header-padding;
    border-bottom: 1px solid $modal-header-border-color;
    color: $font-color-base;
    .u-close {
      margin-top: -2px;
      float: right;
      font-size: 21px;
      font-weight: 700;
      line-height: 1;
      color: #000;
      text-shadow: 0 1px 0 #fff;
      padding: 0;
      cursor: pointer;
      background: transparent;
      border: 0;
      -webkit-appearance: none;
      .uf-close{
        font-size: 12px;
        color: #505F79;
        &:hover{
          color: #e23;
        }
      }
    }
  }

  .u-modal-title {
    margin: 0;
    line-height: 1.42857143;
  }
  .u-modal-body {
    position: relative;
    padding: $modal-body-padding;
    font-size: 12px;
    color: $font-color-base;
    flex: 1;
  }
  .u-modal-footer {
    padding: $modal-footer-padding;
    text-align: right;
    border-top: 1px solid $modal-footer-border-color;
  }
  &-confirm.u-modal{
    .u-modal-title> .uf{
      font-size: 32px;
      line-height: 32px;
      padding: 0;
      margin-right: 16px;
      float: left;
      font-weight: 500;
    }
    .u-modal-header {
      padding-bottom: 4px;
    }
    .u-modal-body {
      padding-top: 4px;
      .u-modal-confirm-content{
        padding-left: 48px;
        p{
          margin: 0;
        }
      }
    }
  }
  &-confirm-info .u-modal-title> .uf{
    color: $brand-info;
  }
  &-confirm-success .u-modal-title> .uf{
    color: $brand-success;
  }
  &-confirm-warning .u-modal-title> .uf{
    color: $brand-warning;
  }
  &-confirm-error .u-modal-title> .uf{
    color: $brand-danger;
  }
  &-confirm-confirm .u-modal-title> .uf{
    color: $brand-warning;
  }

  @media (min-width: 768px) {
    .u-modal-dialog {
      width: $modal-default;
      margin: 30px auto;
    }
    .u-modal-content {
      box-shadow: 0 4px 6px Rgba(23, 43, 77, .3);
    }
    .u-modal-sm {
      width: $modal-sm;
    }

  }

  @media (min-width: 992px) {
    .u-modal-lg {
      width: $modal-lg;
    }
  }

  @media (min-width: 1200px) {
    .u-modal-xlg {
      width: $modal-xlg;
    }
  }
}

.u-modal-open {
  overflow: hidden;
  .u-modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.u-modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal-background;
  background-color: $modal-backdrop-bg;
  &.fade {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  &.in {
    opacity: $modal-backdrop-opacity;
    filter: alpha(opacity=50);
  }
}

// .custom-u-modal {
//     width: 90%;
// }

.u-modal-container {
  position: relative;
  .u-modal-backdrop {
    position: absolute;
  }
  .u-modal, .u-modal-backdrop {
    position: absolute;
  }

}

.ac-confirm{
  .u-modal-dialog{
      width: 410px;
      height: 201px;
      .ac-confirm-footer{
          height: 48px;
          padding: 8px 16px;
          border-top: none;
          .u-button{
            min-width: 60px;
            min-height: 28px;
            line-height: 28px;
            padding: 0 10px;
          }
          .u-button.u-button-secondary{
            background: #dbe0e5;
            border: none;
            &:hover{
              background: #e5e9ec;
            }
          }
          .u-button.u-button-primary{
            margin-left: 8px;
            background: linear-gradient(-45deg,#fc4c2f,#ee2223);
            color: #fff;
            border: none;
            box-shadow: none;
          }
          .u-button.u-button-primary:hover{
            background: linear-gradient(-225deg,#fc4c2f,#ee2223);
            color: #fff;
          }
      }
  }
  .u-modal-content .ac-confirm-header.u-modal-header{
      background-color: #f3f3f3;
      padding: 10px 20px;
      height: 40px;
      .ac-confirm-header-title{
          color: #111111;
          font-size: 14px;
          font-weight: 700;
      }
      .u-close.dnd-cancel{
          display: none;
      }
  }
  .ac-confirm-body.u-modal-body{
      padding: 16px 33px;
      min-height: 0;
      .ac-confirm-body-title{
          display: block;
          
          .ac-confirm-body-title-icon{
              color: rgba(255, 191, 0, 1);
              font-size: 25px;
              vertical-align: sub;
              display: inline-block;
              transform: scale(1.5);
          }

          .ac-confirm-body-title-keyword{
              font-size: 18px;
              color: #111111;
              display: inline-block;
              margin-left: 15px;
          }
      }
      .ac-confirm-body-content{
          display: block;
          font-size: 13px;
          color: #555555;
          margin: 8px 48px;

      }
  }
  
}