@import "../node_modules/tinper-bee-core/scss/minxin-variables";
@import "../node_modules/tinper-bee-core/scss/minxin-mixins";

.u-modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  overflow: hidden;

  &.fade {
    opacity: 0;
    transition: opacity 0.15s linear;
  }
  &.fade.in {
    opacity: 1;
  }

  &.fade .u-modal-dialog {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
  }
  &.in .u-modal-dialog {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  .u-modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid  Rgba(9, 30, 68, 0.08);
    border-radius: $border-radius-base;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    background-clip: padding-box;
    outline: 0;
  }

  .u-modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
  }
  .u-modal-header {
    padding: $modal-header-padding;
    border-bottom: 1px solid $modal-header-border-color;
    .u-close {
      margin-top: -2px;
      float: right;
      font-size: 21px;
      font-weight: 700;
      line-height: 1;
      color: #000;
      text-shadow: 0 1px 0 #fff;
      padding: 0;
      cursor: pointer;
      background: transparent;
      border: 0;
      -webkit-appearance: none;
      .uf-close{
        font-size: 12px;
        color: #505F79;
      }
    }
  }

  .u-modal-title {
    margin: 0;
    line-height: 1.42857143;
  }
  .u-modal-body {
    position: relative;
    padding: $modal-body-padding;
    font-size: 12px;
  }
  .u-modal-footer {
    padding: $modal-footer-padding;
    text-align: right;
    border-top: 1px solid $modal-footer-border-color;
  }

  @media (min-width: 768px) {
    .u-modal-dialog {
      width: $modal-default;
      margin: 30px auto;
    }
    .u-modal-content {
      box-shadow: 0 4px 6px Rgba(23, 43, 77, .3);
    }
    .u-modal-sm {
      width: $modal-sm;
    }

  }

  @media (min-width: 992px) {
    .u-modal-lg {
      width: $modal-lg;
    }
  }

  @media (min-width: 1200px) {
    .u-modal-xlg {
      width: $modal-xlg;
    }
  }
}

.u-modal-open {
  overflow: hidden;
  .u-modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.u-modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal-background;
  background-color: $modal-backdrop-bg;
  &.fade {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  &.in {
    opacity: $modal-backdrop-opacity;
    filter: alpha(opacity=50);
  }
}

// .custom-u-modal {
//     width: 90%;
// }

.u-modal-container {
  position: relative;
  .u-modal-backdrop {
    position: absolute;
  }
  .u-modal, .u-modal-backdrop {
    position: absolute;
  }

}


