
.grayDeep {
  background: rgb(189,189,189);
  height: 30px;
  width: 100%;
  margin-bottom: 10px;
  line-height: 30px;
  text-align: center;
}
.gray {
  background: rgb(224,224,224);
  height: 30px;
  width: 100%;
  margin-bottom: 10px;
  line-height: 30px;
  text-align: center;
}
.grayLight{
  background: rgb(238,238,238);
  height: 30px;
  width: 100%;
  margin-bottom: 10px;
  color: rgb(66,66,66);
  text-align: center;
  line-height: 30px;
}