@import "../node_modules/tinper-bee-core/scss/minxin-variables";
@import "../node_modules/tinper-bee-core/scss/minxin-mixins";


.u-checkbox {
	display: inline-block;
	position: relative;
	margin: 0 5px;
	height: 18px;
	line-height: 18px;
	font-size: 14px;
	white-space: nowrap;
    cursor: pointer;
    outline: none;
    position: relative;
    line-height: 1;
    vertical-align: middle;
	&.disabled .u-checkbox-label{
		cursor: not-allowed;
		opacity: 0.5;
	}
	input[type='checkbox']{
		position: absolute;
		z-index: 3;
		cursor: pointer;
		opacity: 0;
		box-sizing: border-box;
		padding: 0;
		width: 100%;
    	height: 100%;
	}
	input[disabled]{
		cursor: not-allowed;
	}
	input[type='checkbox']:focus + .u-checkbox-label:before{
    	border-color: $checkbox-color;
	}
	&.is-checked {
		.u-checkbox-label:before{
			-moz-box-shadow: inset 0 0 0 10px $checkbox-color;
		    -webkit-box-shadow: inset 0 0 0 10px $checkbox-color;
		    box-shadow: inset 0 0 0 10px $checkbox-color;
		    border-color:$checkbox-color;
		}
		.u-checkbox-label:after {
			color: #fff;
			content: "\e658";
		    line-height: 18px;
		    font-size: 14px;
		}
	}
	.u-checkbox-label {
		cursor: pointer;
	    display: inline-block;
	    //position: relative;
	    padding-left: 25px;
	    &:before {
		    -moz-border-radius: $border-radius-base;
		    -webkit-border-radius: $border-radius-base;
		    border-radius: $border-radius-base;
		    border: 1px solid;
		    background-color: #fff;
		    -moz-transition: all 0.3s ease-in-out;
		    -o-transition: all 0.3s ease-in-out;
		    -webkit-transition: all 0.3s ease-in-out;
		    transition: all 0.3s ease-in-out;
		    content: '';
		    font-family: 'uf';
		    display: inline-block;
		    width: 18px;
		    height: 18px;
		    left: 0;
			top: 0;
		    text-align: center;
		    position: absolute;
		}
		&:after {
			content: '';
		    font-family: 'uf';
		    display: inline-block;
		    width: 18px;
		    height: 18px;
		    left: 0;
		    top: 0;
		    text-align: center;
		    position: absolute;
		}
	}
}
.u-checkbox.u-checkbox-indeterminate  .u-checkbox-label:after {
    color: #fff;
    content: "\e6ce";
    line-height: 18px;
    font-size: 14px;
}

.u-checkbox.u-checkbox-indeterminate .u-checkbox-label:before {
    box-shadow: inset 0 0 0 10px $checkbox-color;
    border-color: $checkbox-color;
}

// Modifier: `checkbox-success`
// -------------------------

.u-checkbox.u-checkbox-success {
	&.is-checked {
		.u-checkbox-label:before{
			-moz-box-shadow: inset 0 0 0 10px $checkbox-success-bg;
		    -webkit-box-shadow: inset 0 0 0 10px $checkbox-success-bg;
		    box-shadow: inset 0 0 0 10px $checkbox-success-bg;
		    border-color:$checkbox-success-bg;
		}
	}
	input[type='checkbox']:focus + .u-checkbox-label:before{
    	border-color:$checkbox-success-bg;
	}
}
// Modifier: `checkbox-warning`
// -------------------------

.u-checkbox.u-checkbox-warning {
	&.is-checked {
		.u-checkbox-label:before{
			-moz-box-shadow: inset 0 0 0 10px $checkbox-warning-bg;
		    -webkit-box-shadow: inset 0 0 0 10px $checkbox-warning-bg;
		    box-shadow: inset 0 0 0 10px $checkbox-warning-bg;
		    border-color:$checkbox-warning-bg;
		}
	}
	input[type='checkbox']:focus + .u-checkbox-label:before{
    	border-color:$checkbox-warning-bg;
	}
}
// Modifier: `checkbox-danger`
// -------------------------

.u-checkbox.u-checkbox-danger {
	&.is-checked {
		.u-checkbox-label:before{
			-moz-box-shadow: inset 0 0 0 10px $checkbox-danger-bg;
		    -webkit-box-shadow: inset 0 0 0 10px $checkbox-danger-bg;
		    box-shadow: inset 0 0 0 10px $checkbox-danger-bg;
		    border-color:$checkbox-danger-bg;
		}
	}
	input[type='checkbox']:focus + .u-checkbox-label:before{
    	border-color:$checkbox-danger-bg;
	}
}
// Modifier: `checkbox-dark`
// -------------------------

.u-checkbox.u-checkbox-dark {
	&.is-checked {
		.u-checkbox-label:before{
			-moz-box-shadow: inset 0 0 0 10px $checkbox-dark-bg;
		    -webkit-box-shadow: inset 0 0 0 10px $checkbox-dark-bg;
		    box-shadow: inset 0 0 0 10px $checkbox-dark-bg;
		    border-color:$checkbox-dark-bg;
		}
	}
	input[type='checkbox']:focus + .u-checkbox-label:before{
    	border-color:$checkbox-dark-bg;
	}
}
// Modifier: `checkbox-info`
// -------------------------

.u-checkbox.u-checkbox-info {
	&.is-checked {
		.u-checkbox-label:before{
			-moz-box-shadow: inset 0 0 0 10px $checkbox-info-bg;
		    -webkit-box-shadow: inset 0 0 0 10px $checkbox-info-bg;
		    box-shadow: inset 0 0 0 10px $checkbox-info-bg;
		    border-color:$checkbox-info-bg;
		}
	}
	input[type='checkbox']:focus + .u-checkbox-label:before{
    	border-color:$checkbox-info-bg;
	}
}
