.demo3 {
    font-size: 14px;
    .u-label {
        display: inline-block;
        min-width: 105px;
        text-align: right;
    }
    .u-form-control {
        width: auto;
        min-width: 300px;
    }
    .error {
        font-size: 12px;
        color: red;
        margin-left: 10px;
    }
    .submit {
        padding-left: 110px;
    }
    .submit .login {
        margin-right: 10px;
    }
    .u-form-item {
        min-height: auto!important;
    }
}