.demo1 {
    font-size: 14px;
    .u-form-item {
        min-height: auto!important;
    }
    .u-label {
        display: inline;
        padding-right: 12px;
    }
    .u-form-control {
        width: auto;
    }
    .error {
        font-size: 12px;
        color: red;
        margin-left: 10px;
    }
}