.demoPadding{
  tag{
      margin: auto 16px;
  }
  .divider{
      margin: -3px 0;
      height: 25px;
      overflow: hidden;
      background-color: #fff;
  }
  .divider0{
      height: 45px;
      background-color: #fff;
  }
}