@import "../node_modules/tinper-bee-core/scss/minxin-variables";
@import "../node_modules/tinper-bee-core/scss/minxin-mixins";


$loading-icon-color: #0084ff;

/**
  * 文字
  */
.u-loading-desc {
  width: 100%;
  position: absolute;
  top: 50%;
  padding-top: 32px;
  font-size: $font-size-base;
  color: $font-color-base;
  text-align: center;
  line-height: 22px;
}

.u-loading-container {
  position: relative;
}

/**
  * default样式 单个圆圈加载
  */

.u-loading {
  &.u-loading-rotate, &.u-loading-default {
    & > div {
      position: absolute;
      margin: 2px;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      border: none !important; //兼容老版本，避免因引入组件的 js 和 css 版本不一致，导致样式混乱的问题
      width: $loading-rotate-size;
      height: $loading-rotate-size;
      top: $loading-center-top;
      left: $loading-center-left;
      margin-left: $loading-rotate-center;
      margin-top: $loading-rotate-center;
      background: transparent !important;
      display: inline-block;
      -webkit-animation: rotate1 1s 0s linear infinite !important; //兼容老版本
      animation: rotate1 1s 0s linear infinite !important; //兼容老版本
      text-align: center;
      line-height: $loading-rotate-size;
      & > img{
        width: $loading-rotate-size;
      }
      & > .uf{
        color: $loading-icon-color;
        font-size: 40px;
        padding: 0;
      }
    }
    &.u-loading-rotate-lg {
      & > div {
        margin-left: $loading-rotate-center-lg;
        margin-top: $loading-rotate-center-lg;
        width: $loading-rotate-lg-size;
        height: $loading-rotate-lg-size;
        line-height: $loading-rotate-lg-size;
        & > img{
          width: $loading-rotate-lg-size;
        }
        & > .uf{
          font-size: 60px;
        }
      }
      & > .u-loading-desc {
        padding-top: 38px;
      }
    }
    &.u-loading-rotate-sm {
      & > div {
        margin-left:$loading-rotate-center-sm;
        margin-top: $loading-rotate-center-sm;
        width: $loading-rotate-sm-size;
        height:$loading-rotate-sm-size;
        line-height: $loading-rotate-sm-size;
        & > img{
          width: $loading-rotate-sm-size;
        }
        & > .uf{
          font-size: 25px;
        }
      }
      & > .u-loading-desc {
        padding-top: 25px;
      }
    }
    &.u-loading-rotate-primary {
      & > div > .uf{
        color: $loading-loadprimary;
      }
    }
    &.u-loading-rotate-success {
      & > div > .uf{
        color: $loading-loadsuccess;
      }
    }
    &.u-loading-rotate-warning {
      & > div > .uf{
        color: $loading-loadwarn;
      }
    }
  }
  &.u-loading-default{
    &>div{
      & > img{
        width: 34px;
        height: 34px;
      }
    }
  }
}
.u-loading-default-container{
  .u-loading-desc{
    margin-top: -12px;
    color: $button-primary-color;
    font-size: 12px;
  }
}


.u-loading-backdrop{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1900;
  background-color:rgba(255,255,255,0.4);
  &.full-screen{
    position: fixed;
  }
}

@keyframes rotate1 {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }

  50% {
    -webkit-transform: rotate(180deg) scale(1);
    transform: rotate(180deg) scale(1);
  }

  100% {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}

.u-loading {
  &.u-loading-line {
    position: absolute;
    top:$loading-center-top;
    left: $loading-center-left;
    margin-top: $loading-line-center-top;
    margin-left: $loading-line-center-left;
    & > div {
      background-color: #C2C3C5;
      width: $loading-line-width;
      height: $loading-line-height;
      border-radius: 2px;
      margin: 2px;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      display: inline-block;
    }
    &.u-loading-line-lg {
      margin-top: $loading-line-center-lg-top;
      margin-left: $loading-line-center-lg-left;
      & > div {
        width: $loading-line-lg-width;
        height: $loading-line-lg-height;
      }
    }
    &.u-loading-line-sm {
      margin-top: $loading-line-center-sm-top;
      margin-left: $loading-line-center-sm-left;
      & > div {
        width:$loading-line-sm-width;
        height: $loading-line-sm-height;
      }
    }
    @each $index, $anima in $loading-lineanimating {
      div:nth-child( #{$index}  ) {
        -webkit-animation: $anima;
        animation: $anima;
        background-color: map_get($loading-linebackcolor, $index);
      }
    }

    &.u-loading-line-primary {
      & > div {
        background-color: $loading-loadprimary;
      }
    }
    &.u-loading-line-success {
      & > div {
        background-color: $loading-loadsuccess;
      }
    }
    &.u-loading-line-warning {
      & > div {
        background-color: $loading-loadwarn;
      }
    }
  }
}
.u-loading {
  &.u-loading-custom {
    & > div {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    }
  }
}
@keyframes line-scale {
  0% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }

  50% {
    -webkit-transform: scaley(0.4);
    transform: scaley(0.4);
  }

  100% {
    -webkit-transform: scaley(1);
    transform: scaley(1);

  }
}
