@import "../node_modules/tinper-bee-core/scss/minxin-variables";
@import "../node_modules/tinper-bee-core/scss/minxin-mixins";
@import "../node_modules/bee-form-control/src/FormControl.scss";
@import "../node_modules/bee-input-group/src/InputGroup.scss";
.u-input-number {
    width: 100%;
    &.u-input-group.simple .u-input-group-btn {
        position: relative;
        top: 0;
        z-index: 2;
        right: 0;
        width: 22px;
        .icon-group {
            border-right: 1px solid #bdbdbd;
            border-top: 1px solid #bdbdbd;
            border-bottom: 1px solid #bdbdbd;
            width: 22px;
            height: 32px;
            background: #fff;
            border-radius: 0 $border-radius $border-radius 0;
            -webkit-transition: opacity .24s linear .1s;
            transition: opacity .24s linear .1s;
            .plus {
                position: relative;
                display: block;
                width: 100%;
                text-align: center;
                line-height: 0;
                height: 50%;
                overflow: hidden;
                color: rgba(0, 0, 0, .43);
                -webkit-transition: all .1s linear;
                transition: all .1s linear;
                cursor: pointer;
                font-weight: 700;
                &.disabled {
                    cursor: not-allowed;
                    background: #ffe;
                    color: #ccc;
                }
                &.disabled-cursor {
                    cursor: not-allowed;
                }
            }
            .reduce {
                position: relative;
                top: -1px;
                display: block;
                width: 100%;
                text-align: center;
                border-top: 1px solid #d9d9d9;
                line-height: 0;
                height: 50%;
                overflow: hidden;
                color: rgba(0, 0, 0, .43);
                -webkit-transition: all .1s linear;
                transition: all .1s linear;
                cursor: pointer;
                font-weight: 700;
                &.disabled {
                    cursor: not-allowed;
                    background: #ffe;
                    color: #ccc;
                }
                &.disabled-cursor {
                    cursor: not-allowed;
                }
            }
            .disabled-cursor.disabled {
                background: none;
            }
            .disabled-cursor {
                .uf {
                    color: #ccc;
                    &:hover {
                        color: #ccc;
                    }
                }
            }
            .uf {
                font-size: 12px;
                line-height: 12px;
                &:hover {
                    color: blue;
                }
            }
        }
    }
    &.u-input-group.simple .u-form-control {
        text-align: left;
        width: 100%;
        border-right: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-right: 1px solid $border-color;
        padding-right: 12px;
    }
    &.u-input-group.simple .u-form-control[disabled] {
        border-color:$border-color;
    }
    &.u-input-group.simple .u-form-control[disabled]+.u-input-group-btn .icon-group {
        border-color:$border-color;
    }
    &.u-input-group .u-form-control {
        width: 100%;
        text-align: center;
        // border-right: 1px solid $border-color;
    }
    &.u-input-group .u-form-control[disabled] {
        border-top-color: $border-color;
        border-bottom-color: $border-color;
    }
    &.u-input-group .u-form-control:focus {
        border-color: #66afe9;
    }
    .u-input-group-addon {
        position: relative;
        cursor: pointer;
        padding: 6px;
        user-select: none;
        -moz-user-select: none;
        border:1px solid $border-color;
        &.disabled {
            cursor: not-allowed;
            background: #ffe;
            color: #ccc;
        }
        &.disabled-cursor {
            cursor: not-allowed;
            background: none;
            color: #ccc;
        }
    }
    .u-input-number-auto .u-form-control {
        width: 100%;
    }
    .u-form-control::-webkit-outer-spin-button,
    .u-form-control::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    input[type="number"]{
        -moz-appearance: textfield;
    }
}

// u-table 编辑 hock
.u-table .u-table-tbody .u-table-row {
    .u-input-number {
        & .u-input-group-addon:first-of-type {
            position: relative;
            left: 2px;
        }
        & .u-input-group-addon:last-of-type {
            position: relative;
            right: 2px;
        }
    }
    .u-input-number.u-input-group.simple {
        .u-input-group-btn {
            right: 2px;
        }
    }
}