@import "../node_modules/tinper-bee-core/scss/minxin-variables";
@import "../node_modules/tinper-bee-core/scss/minxin-mixins";
@import "../node_modules/bee-form-control/src/FormControl.scss";
@import "../node_modules/bee-input-group/src/InputGroup.scss";

$disable-border-color:#dfe1e6;

.u-input-number {
    width: 100%;
    border: 1px solid $border-color-base;
    border-radius: $border-radius;

    &.u-input-group{
        border-spacing: 0; 
    }

    &.u-input-group>span:first-child{
        border-right: 1px solid $border-color-base;
    }
  
    &.u-input-group>span:last-child{
        border-left: 1px solid $border-color-base;
        border-top-right-radius:  $border-radius;
    }

    &.disabled-con>span:first-child{
        border-right: 1px solid $disable-border-color;
    }

    &.disabled-con>span:last-child{
        border-left: 1px solid $disable-border-color;
    }
    // &.u-input-group-addon.disabled-cursor{
    //     border-right: 1px solid red ;
    // } 

    // &.disabled-cursor>span:first-child{
    //     border-right: 1px solid $border-color-base;
    // }
    // &.disabled-cursor>span:last-child{
    //     border-left: 1px solid $border-color-base;
    //     border-top-right-radius:  $border-radius;
    // }
    &.u-input-group>span{
        background: #fff;
    }
    &.u-input-group>span:hover{
        background: #ebecf0;
    }

    &.u-input-group.simple .u-input-group-btn {
        position: relative;
        top: 0;
        z-index: 2;
        right: 0;
        width: 22px;
        .icon-group {
            // border-right: 1px solid #bdbdbd;
            // border-top: 1px solid #bdbdbd;
            // border-bottom: 1px solid #bdbdbd;
            width: 22px;
            height: 32px;
            background: #fff;
            border-radius: 0 $border-radius $border-radius 0;
            -webkit-transition: opacity .24s linear .1s;
            transition: opacity .24s linear .1s;
            .plus {
                position: relative;
                display: block;
                width: 100%;
                text-align: center;
                line-height: 0;
                height: 54%;
                overflow: hidden;
                color: #505F79;
                -webkit-transition: all .1s linear;
                transition: all .1s linear;
                cursor: pointer;
                // font-weight: 700;

                // border: 1px solid transparent;
                // border-bottom-color:$border-color-base;
                // border-bottom-width: 2px;
                // box-sizing: border-box;
                // width: 108%;
                // margin-left: -1px;

                &.disabled {
                    cursor: not-allowed;
                    background: #fff !important;
                    color: #C1C7D0;
                }
                &.disabled-cursor {
                    background: #f7f9fb;
                    cursor: not-allowed;
                    border-top-right-radius: $border-radius; 
                    &:hover {
                        background: #f7f9fb;
                    }
                }
                &:hover {
                    background: #ebecf0;
                    // color: #555;
                }
            }
            .reduce {
                position: relative;
                top: -1px;
                display: block;
                width: 100%;
                text-align: center;
                border-top: 1px solid $border-color-base;
                line-height: 0;
                height: 50%;
                overflow: hidden;
                color: #505F79;
                -webkit-transition: all .1s linear;
                transition: all .1s linear;
                cursor: pointer;
                // font-weight: 700;
                &.disabled {
                    cursor: not-allowed;
                    background: #fff !important;
                    color: #C1C7D0;
                }
                &.disabled-cursor {
                    cursor: not-allowed;
                    background: #f7f9fb;
                    border-bottom-right-radius: $border-radius;
                    border-top: 1px solid #DFE1E6;
                    &:hover {
                        background: #f7f9fb;
                    }
                } 
                &:hover {
                    background: #ebecf0;
                    // color: #555;
                }
            }
            .disabled-cursor.disabled {
                background: none;
            }
            .disabled-cursor {
                .uf {
                    color: #C1C7D0;
                    &:hover {
                        color: #ccc;
                    }
                }
            }
            .uf {
                font-size: 12px;
                line-height: 16px;
                // &:hover {
                //     color: #C1C7D0;
                // }
            }
        }
    }
    &.u-input-group.simple .u-input-group-btn[disabled] {
        background: #f7f9fb;
    }
    &.u-input-group.simple .u-form-control {
        text-align: left;
        width: 100%;
        border-right: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        // border-right: 1px solid $border-color;
        padding-right: 12px;
    }
    &.u-input-group.simple .u-form-control[disabled] {
        border-color:$border-color-base;
    }
    &.u-input-group.simple .u-form-control[disabled]+.u-input-group-btn .icon-group {
        border-color:$border-color-base;
    }
    &.u-input-group .u-form-control {
        width: 100%;
        text-align: center;
        border: transparent;
        // border-right: 1px solid $border-color;
    }
    &.u-input-group .u-form-control[disabled] {
        border-top-color: $border-color-base;
        border-bottom-color: $border-color-base;
    }
    &.u-input-group .u-form-control:focus {
        border-color: #66afe9;
    }
    .u-input-group-addon {
        position: relative;
        cursor: pointer;
        padding: 6px;
        user-select: none;
        -moz-user-select: none;
        background: transparent;
        border:none;
        // border:1px solid $border-color;
        &.disabled {
            cursor: not-allowed;
            // background: #ffe;
            color: #C1C7D0;
            background: #fff !important;
        }
        &.disabled-cursor {
            cursor: not-allowed;
            background: #f7f9fb !important;
            color: #ccc;
        }
    }

    .u-input-number-auto .u-form-control {
        width: 100%;
    }
    .u-form-control::-webkit-outer-spin-button,
    .u-form-control::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    input[type="number"]{
        -moz-appearance: textfield;
    }
}

.u-input-number-group {
    .u-input-number-out {
        width: calc( 50% - 10px );
        display: inline-block;
    }
    &-split{
        width: 20px;
        display: inline-block;
        text-align: center;
        position: relative;
        top: -10px;
    }
}

// u-table 编辑 hock
.u-table .u-table-tbody .u-table-row {
    .u-input-number {
        & .u-input-group-addon:first-of-type {
            position: relative;
            left: 2px;
        }
        & .u-input-group-addon:last-of-type {
            position: relative;
            right: 2px;
        }
    }
    .u-input-number.u-input-group.simple {
        .u-input-group-btn {
            right: 2px;
        }
    }
}

.disabled-con,
.disabled-con .disabled-cursor > span:first-child,
.disabled-con .disabled-cursor > span:last-child{
    border-color:$disable-border-color;
}
