p{
  font-size: 40px;
  text-align: center;
  color: red;
}

.margin-20{
    margin-bottom: 20px;
}
.border{
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    margin: 100px auto;
    box-shadow: 5px 5px 5px #000;
}
