.tinper-icon-demo .uftype{
    font-size: 42px;
    line-height: 100px;
    margin: 10px 0;
    color: #333;
    -webkit-transition: font-size 0.25s ease-out 0s;
    -moz-transition: font-size 0.25s ease-out 0s;
    transition: font-size 0.25s ease-out 0s;
}
.tinper-icon-demo .uftype:hover{
    font-size: 48px;
}
.icon_lists:after {
    clear:both;
    display:block;
    visibility: hidden;
    content:'.';
}
.icon_lists li {
    position: relative;
    float: left;
    width: 100px;
    height: 150px;
    text-align: center;
    list-style: none !important;
    cursor: pointer;
    border-radius: 3px;
    .u-clipboard{
        position: absolute;
        top: 4px;
        right: 4px;
        opacity: 0;
    }
    .usage{
        opacity: 0;
    }
    &:hover{
        background: #d1d1d1;
        .uftype{
            font-size: 48px;
        }
        .u-clipboard{
            opacity: 1;
        }
    }
}