.tinper-icon-demo .u-svgicon{
    width: 40px;
    height: 40px;
    margin: 24px 0 8px 0;
    color: #333;
    -webkit-transition: font-size 0.8s ease-out 0s;
    -moz-transition: font-size 0.8s ease-out 0s;
    transition: font-size 0.8s ease-out 0s;
}
.tinper-icon-demo li:hover .u-svgicon{
    width: 48px;
    height: 48px;
}
.icon_lists:after {
    clear:both;
    display:block;
    visibility: hidden;
    content:'.';
}
.icon_lists li {
    position: relative;
    float: left;
    width: 100px;
    height: 120px;
    text-align: center;
    list-style: none !important;
    cursor: pointer;
    border-radius: 3px;
    .u-clipboard{
        position: absolute;
        top: 4px;
        right: 4px;
        opacity: 0;
    }
    .usage{
        opacity: 0;
    }
    &:hover{
        background: #e6e6e6;
        .u-clipboard{
            opacity: 1;
        }
    }
}