<% if(isComponent){ %>
    <% if(tag) { %>
        <link href="//design.yonyoucloud.com/static/tinper-bee/components/<%= active %>/dist/<%= tag %>/demo.css" type="text/css" rel="stylesheet" />
    <% } else { %>
        <link href="./<%= active %>/dist/demo.css" type="text/css" rel="stylesheet" />
    <% } %> 
<% } %>
<div>
    <%- docs %>
</div>

<% if(isComponent){ %>
    <% if(tag) { %>
        <script src="//design.yonyoucloud.com/static/tinper-bee/components/<%= active %>/dist/<%= tag %>/demo.js"></script>
    <% } else { %>
        <script src="./<%= active %>/dist/demo.js"></script>
    <% } %>     
<% } %>

<script>
    var select = document.getElementById('tagSelect');
    if(select){
        select.onchange=function(){
            var selectTag = select.value;
            window.location.search='?tag='+selectTag;
        }
    }
</script>