<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>tinper-bee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="tinper-bee 是一套基于 React.js 的开源组件库，它从丰富的企业级中后台应用场景中实战沉淀而来，为复杂应用的快速开发提供一致性 UI 解决方案。">
    <meta name="keywords" content="tinper-bee, tinper, bee,iuap design">
    <meta name="keywords" content="react, UI, framework">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <link rel="icon" href="//design.yonyoucloud.com/static/tinper-bee/images/favicon.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="//design.yonyoucloud.com/static/highlight/9.15.6/default.min.css">    
    <link href="//design.yonyoucloud.com/static/tinper-bee/latest/assets/tinper-bee.css" rel="stylesheet" media="screen" />
    <link rel="stylesheet" href="//design.yonyoucloud.com/static/docSearch/docsearch.min.css" /> 
    <link rel="stylesheet" href="./css/atom-one-dark.css" type="text/css"/>
    <link rel="stylesheet" href="./css/layout.css" type="text/css"/>
    <link rel="stylesheet" href="./css/narbar.css" type="text/css"/>
    <link rel="stylesheet" href="./css/sidebar.css" type="text/css"/>
    <link rel="stylesheet" href="./css/docs.css" type="text/css"/>
    <link rel="stylesheet" href="./css/footer.css" type="text/css"/>
    <link rel="stylesheet" href="./css/rightMenus.css" type="text/css"/>
</head>
<script src="//design.yonyoucloud.com/static/highlight/9.15.6/highlight.min.js"></script>
<script src="//design.yonyoucloud.com/static/react/16.8.4/umd/react.production.min.js"></script>
<script src="//design.yonyoucloud.com/static/react/16.8.4/umd/react-dom.production.min.js"></script>
<script src="//design.yonyoucloud.com/static/prop-types/15.6.0/prop-types.min.js"></script>
<script src="//design.yonyoucloud.com/static/gumshoe/gumshoe.polyfills.min.js"></script>

<body>
    <div class="navbar" id="navbar">
        <% include navbar.html %>
    </div>
    <div class="mask" id="mask"></div>
    <div id="openbtn" class="uf uf-navmenu"></div>
    <div id="closebtn" class="uf uf-close"></div>
    <% if(isComponent){ %>
        <div class="doc-content component">
    <% } else { %>
        <div class="doc-content">
    <% } %>
    <div class="content">
        <div class="sidebar" id="sidebar">
            <% include sidebar.html %>
        </div>
        <div class="docs" id="docs">
            <% include docs.html %>
        </div>
        
    </div>
    <div class="footer-out">
        <% include footer.html %>
    </div>
</body>
<script type="text/javascript" src="//design.yonyoucloud.com/static/docSearch/docsearch.min.js"></script>
<script>
    // hljs.initHighlightingOnLoad();
    document.querySelectorAll('.drawer-body code').forEach((block) => {
        hljs.highlightBlock(block);
    });
    docsearch({ 
            apiKey: 'd388a4977faabf821db64112c8abdcf7', 
            indexName: 'bee_tinper', 
            inputSelector: '#componentSearch', 
            debug: false // Set debug to true if you want to inspect the dropdown 
        }); 



    var header = document.querySelector('#navbar');
    new Gumshoe('#rightMenusId a',{
        offset: function () {
            return header.getBoundingClientRect().height;
        }
    });
    let lists = document.querySelectorAll('.rm-list-item');
    if(window.scrollY<=160){
        lists[0].setAttribute('class','rm-list-item active');
    }
    window.onscroll=function(){
        if(window.scrollY<=160){
            lists[0].setAttribute('class','rm-list-item active');
        }
    }

    // //移动端适配sidebar
    // //侧边栏
    // let openbtn=document.getElementById('openbtn'),//汉堡按钮
    // closebtn=document.getElementById('closebtn'),//关闭按钮
    // sidebarDOM=document.getElementById('sidebar');//侧边栏
    // mask=document.getElementById('mask');//遮罩层
    // //汉堡按钮显示逻辑
    // openbtn.addEventListener('click', function () {
    //   mask.style.display='block';
    //   closebtn.style.display='block';
    //   openbtn.style.display='none';
    //   sidebarDOM.style.left=0;
    // });
    // // 关闭按钮显示逻辑
    // closebtn.addEventListener('click', function () {
    //   closebtn.style.display='none';
    //   mask.style.display="none";
    //   sidebarDOM.style.left="-250px";
    //   openbtn.style.display='block';
    // }, false);


    //移动端适配侧边栏
    let openbtn=document.getElementById('openbtn'),//汉堡按钮
    closebtn=document.getElementById('closebtn'),//关闭按钮
    sidebarDOM=document.getElementsByClassName('sidebar')[0],//侧边栏
    mask=document.getElementsByClassName('mask')[0];//遮罩层
    //点击侧边栏的选项时，使侧边栏不消失的控制点击侧边栏时，使侧边栏不消失的控制
    if(window.localStorage.getItem('openBtn')==='true'){
        console.log( document.getElementsByClassName('sidebar')[0].style)
        document.getElementsByClassName('sidebar')[0].style.left = 0;
        mask.style.display='block';
        closebtn.style.display='block';
        openbtn.style.display='none';
        sidebarDOM.style.left=0;
        let docs=document.getElementsByClassName('docs')[0];
        document.body.style.position = 'fixed';
        document.body.style.overflow = 'hidden';
        window.localStorage.setItem('openBtn',true)
    }
    //汉堡按钮显示逻辑
    openbtn.addEventListener('click', function () {
        mask.style.display='block';
        closebtn.style.display='block';
        openbtn.style.display='none';
        sidebarDOM.style.left=0;
        let docs=document.getElementsByClassName('docs')[0];
        document.body.style.position = 'fixed';
        //以下document的两句代码控制当左侧抽屉遮罩层出现时，遮罩层下面的页面不可以滚动，当点击关闭按钮后，页面才可以滚动。
        document.body.style.overflow = 'hidden';
        window.localStorage.setItem('openBtn',true)
    });
    // 关闭按钮显示逻辑
    closebtn.addEventListener('click', function () {
        window.localStorage.setItem('openBtn',false)
        closebtn.style.display='none';
        mask.style.display="none";
        sidebarDOM.style.left="-250px";
        openbtn.style.display='block';
        //以下document的两句代码控制当左侧抽屉遮罩层消失时，页面才可以滚动。
        document.body.style.position = 'relative';
        document.body.style.overflow = 'auto';  
    }, false);
</script>
</html>