<div class="u-row nav">
    <div class="u-col-md-5 nav-left">
        <span class="nav-logo ">
            <a href="/">
                <img src="//iuap-design-cdn.oss-cn-beijing.aliyuncs.com/static/tinper-bee/logo/iuapdesign.svg">
            </a>
        </span>
        <span class="nav-split">|</span>
        <span class="nav-search">
            <div class="u-form-control-search u-form-control-affix-wrapper">
                <input id="componentSearch" placeholder="在iuap design 中搜索" 
                    class="u-form-control "/>
                <div class="u-form-control-suffix">
                    <i class="uf uf-search"></i>
                </div>
            </div>
        </span>
    </div>
    <div class="u-col-md-7 nav-right">
        <ul class="nav-options">
            <li>
                <a class="first-show" href="/">首页</a>
            </li>
            <li class="language">设计语言</li>
            <li>
                <a href="/tinper-bee">基础组件</a>
            </li>
            <li>
                <a href="/tinper-acs">应用组件</a>
            </li>
            <li>
                <a target="_blank" href="/case/preview">典型案例</a>
            </li>
            <li>
                <div class="u-select u-select-enabled">
                    <div class="u-select-selection 
    u-select-selection--single" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-expanded="false" tabindex="0">
                        <div class="u-select-selection-rendered" name="input">
                            <div class="u-select-selection-selected-value" title="简体中文" style="display: block; opacity: 1;">简体中文</div>
                        </div>
                        <span class="u-select-arrow" unselectable="unselectable" style="user-select: none;">
                            <b></b>
                        </span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>