<div id="rightMenusId">
    <ul class="rm-list">
        <% for(key in rightMenus) { var item = rightMenus[key]; %>
            <li class="rm-list-item" name="#<%= key %>"> 
                <a class="rm-list-item-a" href="#<%= key %>" title="<%= key %>"><%= key %></a></li>
                <% if(item.children){ %>
                    <ul class="rm-child-list">
                        <% item.children.forEach(function(it){ %>
                            <li class="rm-list-item" name="#<%= it %>"> 
                                <a class="rm-list-item-a" href="#<%= it %>" title="<%= it %>"><%= it %> </a>
                            </li>
                        <% }) %>
                    </ul>
                <% } %>
        <% } %>
    </ul>
</div>
