@import "../node_modules/tinper-bee-core/scss/minxin-variables";
@import "../node_modules/tinper-bee-core/scss/minxin-mixins";
@import "../node_modules/tinper-bee-core/scss/minxin-palette";

.u-colorpicker{
    &-form{
        span{
            position: relative;
        }
        &-color-demo{
            position: absolute;
            top: 1px;
            right: 1px;
            width: 24px;
            height: 24px;
            margin: 3px;
            background: $brand-primary;
            border-radius: $border-radius-base;
            cursor: pointer;
        }
    }
    .error{
        color: red;
        padding-left: 112px;
    }
    &-panel-header{
        display: flex;
        padding: 15px;
        border-top: 1px solid #DDE1EC;
        border-bottom: 1px solid #DDE1EC;
    }
    &-panel-content{
        height: auto;
        padding: 15px;
        .u-row{
            margin: 0;
        }
        .col-7,.col-5{
            padding: 0;
        }
    }
    &-color-preview{
        &-demo{
            width: 32px;
            height: 32px;
            margin-right: 15px;
            border-radius: $border-radius-base;
        }
    }
    &-panel-color-plate{
        li{
            float: left;
            width: 55px;
            height: 55px;
            margin: 0 6px 6px 0; 
            background: $brand-primary;
            border-radius: $border-radius-base;
            box-shadow:0px 2px 4px 0px rgba(47,47,48,0.2);
            text-align: center;
            line-height: 55px;
            cursor: pointer;
            &:hover{
                box-shadow: 0px 2px 4px 0px rgba(47,47,48,0.45);
            }
            .uf{
                &.dark-contrast{
                    color: #fff;
                }
                &.light-contrast{
                    color: #505F79;
                }
            }
        }
    }
    &-panel-color-info{
        font-size: 12px;
        color: #212121;
        .selected-color{
            width: 216px;
            height: 77px;
            border-radius: $border-radius-base;
        }
        .u-label{
            display: inline-block;
            min-width: 50px;
            text-align: right;
            line-height: 26px;
            color: #212121;
            font-size: 12px;
        }
        .u-form-item {
            padding: 0;
            min-height: 26px;
            .u-label{
                min-width: 50px;
                display: inline;
            }
            .u-form-control{
                width: 80px;
                min-width: auto;
            }
        }
    }
    &-modal.u-modal{
        .u-modal-body{
            padding: 0;
            border-bottom: 1px solid #DDE1EC;
            background: #f7f9fb;
        }
    }
    &-select-option {
        .option-overview{
            float: left;
            width: 28px;
            height: 28px;
            margin-right: 12px;
            border-radius: $border-radius-base;
        }
        span{
            float: left;
            line-height: 28px;
        }
    }
}