@import "../node_modules/tinper-bee-core/scss/minxin-variables";
@import "../node_modules/tinper-bee-core/scss/minxin-mixins";
@import "../node_modules/tinper-bee-core/scss/minxin-palette";

.u-colorpicker{
    &-form{
        span{
            position: relative;
            display: inline-block;
        }
        &-color-demo{
            position: absolute;
            top: 1px;
            right: 1px;
            width: 24px;
            height: 24px;
            margin: 3px;
            background: $brand-primary;
            border-radius: $border-radius-base;
            cursor: pointer;
        }
        .u-form-control[disabled] + .u-colorpicker-form-color-demo{
            cursor: not-allowed;
        }
        .disabled.u-colorpicker-form-color-demo{
            cursor: default;
        }
    }
    .error{
        color: red;
        padding-left: 112px;
    }
    &-panel-header{
        display: flex;
        padding: 15px;
        border-top: 1px solid #DDE1EC;
        border-bottom: 1px solid #DDE1EC;
    }
    &-panel-content{
        height: auto;
        padding: 15px;
        .u-row{
            margin: 0;
        }
        .col-7,.col-5{
            padding: 0;
        }
    }
    &-color-preview{
        &-demo{
            width: 32px;
            height: 32px;
            margin-right: 15px;
            border-radius: $border-radius-base;
        }
    }
    &-panel-color-plate{
        li{
            float: left;
            width: 55px;
            height: 55px;
            margin: 0 6px 6px 0;
            background: $brand-primary;
            border-radius: $border-radius-base;
            box-shadow:0px 2px 4px 0px rgba(47,47,48,0.2);
            text-align: center;
            line-height: 55px;
            cursor: pointer;
            &:hover{
                box-shadow: 0px 2px 4px 0px rgba(47,47,48,0.45);
            }
            .uf{
                &.dark-contrast{
                    color: #fff;
                }
                &.light-contrast{
                    color: #505F79;
                }
            }
        }
    }
    &-panel-color-info{
        font-size: 12px;
        color: #212121;
        .transparent-bg{
            width: 216px;
            background: url("http://design.yonyoucloud.com/static/bee.tinper.org-demo/bg_alpha.svg");
            .selected-color{
                width: 216px;
                height: 77px;
                border-radius: $border-radius-base;
            }
        }
        .u-label{
            display: inline-block;
            min-width: 50px;
            text-align: right;
            line-height: 26px;
            color: #212121;
            font-size: 12px;
        }
        .u-form-item {
            display:flex;
            padding: 0;
            min-height: 26px;
            .u-label{
                min-width: 50px;
                display: inline;
            }
            .u-form-control{
                width: 50px;
                min-width: auto;
            }
            .u-input-group{
                width: 72px;
                .u-input-group-addon {
                    padding: 5px 4px;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 1;
                    color: #555;
                    text-align: center;
                    background-color: #eee;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    width: 1%;
                    white-space: nowrap;
                    vertical-align: middle;
                    display: table-cell;
                    &:last-child {
                        border-left: 0;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                    &:first-child {
                        border-right: 0;
                        border-bottom-right-radius: 0;
                        border-top-right-radius: 0;
                    }
                }
            }
        }
    }
    &-modal.u-modal{
        .u-modal-body{
            padding: 0;
            border-bottom: 1px solid #DDE1EC;
            background: #f7f9fb;
        }
    }
    &-select-option {
        .option-overview{
            float: left;
            width: 28px;
            height: 28px;
            margin-right: 12px;
            border-radius: $border-radius-base;
        }
        span{
            float: left;
            line-height: 28px;
        }
    }
}
