@import "../node_modules/tinper-bee-core/scss/minxin-variables";
@import "../node_modules/tinper-bee-core/scss/minxin-mixins";
@import "../node_modules/bee-button/src/Button.scss";

.u-notification{
  position: fixed;
  z-index: $zIndex-notification;
  width: $notification-width;
  margin-right: $notification-text-margin-right;

  &-topRight{
      top: $notification-top;
      right: $notification-right;
  }
  &-bottomRight{
      bottom: $notification-bottom;
      right: $notification-right;
  }

  &-notice {
    position: relative;
    padding: $notice-padding;
    border-radius: $default-border-radius;
    @include shadow-3dp();
    background: $notice-background;
    line-height: 1.5;
    margin-bottom: $notice-bottom;
    overflow: hidden;
    color: #fff;
    &-title {
        font-size: 14px;
        margin-bottom: 4px;
        line-height: 20px;
    }
    &-description {
        font-size: 12px;
        word-wrap: break-word;
    }

    &-closable {
      padding-right: 20px;
    }

    &-close {
      position: absolute;
      right: 10px;
      top: 6px;
      cursor: pointer;
      outline: none;
      font-size: 16px;
      font-weight: 700;
      line-height: 1;
      text-shadow: 0 1px 0 #fff;
      filter: alpha(opacity=80);
      opacity: .8;
      text-decoration: none;

      &-x:after {
        content: '×';
      }

      &:hover {
        opacity: 1;
        filter: alpha(opacity=100);
        text-decoration: none;
      }

    }

  }

  &-notice-light {
        background-color: #fff;
        color: $gray-darkest;
     }


    }
    .notification-fade-effect {
       animation-duration: 0.24s;
       animation-fill-mode: both;
       animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
     }

     .u-notification-fade-enter,
     .u-notification-fade-appear {
       opacity: 0;
       @extend .notification-fade-effect;
       animation-play-state: paused;
     }

     .u-notification-fade-leave {
       @extend .notification-fade-effect;
       animation-duration: 0.2s;
       animation-play-state: paused;
     }

     .u-notification-fade-enter.u-notification-fade-enter-active,
     .u-notification-fade-appear.u-notification-fade-appear-active {
       animation-name: uNotificationFadeIn;
       animation-play-state: running;
     }

     .u-notification-fade-leave.u-notification-fade-leave-active {
       animation-name: uNotificationFadeOut;
       animation-play-state: running;
     }
    @keyframes uNotificationFadeIn {
      0% {
        opacity: 0;
        left: $notification-width;
      }
      100% {
        left: 0;
        opacity: 1;
      }
    }

    @keyframes uNotificationFadeOut {
      0% {
        opacity: 1;
        margin-bottom: $notice-bottom;
        padding-top: $notice-padding;
        padding-bottom: $notice-padding;
        max-height: 150px;
      }
      100% {
        opacity: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        max-height: 0;
      }
    }
